{% include 'navbar.html' %}

<style>

p label{
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: black;
}
</style>
</head>

<body>

<div class="container" style="margin-top: 5%;">
	<div class="row">
        <div class="col m6 s12">
            <h4 style="color:red"> Change your password</h4>
            <p> 
                Better is the best option...<br>
                Change you password here.
            </p>
        </div>
		<div class="col m6 s12">
			<div class="card grey lighten-2">
				<div class="card-content black-text">
                <form method="post">
                    {% for field in form %}
                        <p class="card-title">{{ field.label_tag }}</p>
                        <div class="input-field">
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% csrf_token %}
                    <button type="submit" class="btn">Save changes</button>
                </form>
				
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>

<!--
<style>
    .button {
      border-radius: 2px;
      background-color: dodgerblue;
      border: none;
      color: white;
      text-align: center;
      font-size: 12px;
      padding: 15px;
      width: 35%;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    p label{
        display: block;
        line-height: 32px;
        margin-bottom: 8px;
        margin: 0;
        font-size: 24px;
        font-weight: 300;
        color: black;
    }
    </style>
    
<section class="main">
    <div class="row">
      <div class="col l6 m12 s12">
        <p></p>
      </div>
      <div class="col l6 m12 s12">
        <div class="caption Black-text">
          <h3>Change your password</h3>
          <p>
            Enter a new password in case you forget the older one. We highly
            recommed you create a unique password- one that you don't use for
            any other website.
          </p>
        </div>
        <p></p>
        <p>Note: You can't use your older password once you chagne it.</p>
        <a href="#">Learn more about using a smart password!</a>
      </div>
    </div>
  </section>
  <section class="fcard">
    <div class="row">
      <div class="col m12 s12 l6"></div>
      <div class="col l4 m12 s12">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <div class="row">
              <div class="col s12 l12">
                <form method="post">
                    {% for field in form %}
                        <p class="card-title">{{ field.label_tag }}</p>
                        <div class="input-field">
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% csrf_token %}
                    <button type="submit" class="button">Save changes</button>
                </form>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
-->