{% include 'navbar.html' %}
<style>
    p label{
        display: block;
        line-height: 32px;
        margin-bottom: 8px;
        margin: 0;
        font-size: 24px;
        font-weight: 300;
        color: black;
    }
    </style>
<div class="container" style="margin-top: 5%;">
    {% if validlink %}
    <div class="row">
        <div class="col m6 s12">
            <h4 style="color:red"> Enter A Password </h4>
            <p> 
                Select a new password which is secure enough and friendly to you as well.<br>
                Note - please use unique passwords for safety.<br> 
            </p>
        </div>
        <div class="col m6 s12">
            <div class="card grey lighten-2">
                <div class="card-content black-text">
                    <form method="post" action="">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p class="center" style="color: red; font-weight: 400;">{{ error }}</p>
                            {% endfor %}
                            <p class="card-title">{{ field.label_tag }}</p>
                            <div class="input-field">
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% csrf_token %}
                        <button class="btn" type="submit" value="Submit">Submit</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card grey lighten-2">
        <div class="card-content black-text center">
            URL is broken. 
            <span style="font-size: 45px;">&#128533;</span>
        </div>
    </div>
    {% endif %}

</div>
</body>
</html>

