

  <!DOCTYPE html>
<html>
<head>
<title>PASSWORD</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<style>
.button {
  border-radius: 2px;
  background-color: dodgerblue;
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  width: 35%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

label{
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: black;
}
</style>
</head>

<body>

<div class="container">
	<div class="row">
        <div class="col m6 s12">
            <h4 style="color:red"> Change your password</h4>
            <p> 
                Enter a new password incase you forget the older one.<br> 
                We highly recommend you create a unique password - one that<br>
                you don't use for any other websites.<br><br>
                Note: You can't reuse your old password once you change it.
            </p>
            <p style="color:blue;">Learn more about choosing a smart password </p>
        </div>
		<div class="col m6 s12">
			<div class="card grey lighten-2">
				<div class="card-content black-text">
                <form method="post">
                    {% for field in form %}
                        <p class="card-title">{{ field.label_tag }}</p>
                        <div class="input-field">
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% csrf_token %}
                    <button type="submit" class="button">Save changes</button>
                </form>
				
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>