

  <!DOCTYPE html>
  <html>
  <head>
  <title>PASSWORD</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <style>
  .button {
    border-radius: 2px;
    background-color: dodgerblue;
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    width: 35%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  label{
      display: block;
      line-height: 32px;
      margin-bottom: 8px;
      margin: 0;
      font-size: 24px;
      font-weight: 300;
      color: black;
  }
  </style>
  </head>
  
    <body>
        <div class="container">
            <div class="card grey lighten-2">
                <div class="card-content black-text">
                    Your password successfully has been succesffully changed
                </div>
            </div>
        </div>
    </body>
</html>
