{% include "navbar.html" %}
{% load static from staticfiles %}

<script>
        $(document).ready(function(){
            $.ajax({
                type: 'POST',
                url: '/commentload/',
                async: false,
                data: {
                    blogid: '{{blogid}}',
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(result){
                    var output = result['status'];
                    if (output == 200){
                        comments = result['data'];
                        for(var i = 0; i < comments.length; i+=1){
                            var commentlike = comments[i]['like'];
                            if (commentlike == 0){
                                var liketext = "<span style='cursor: pointer' id='cm"+comments[i]['id']+"' class='commentlike'><span>Like</span><i class='fa fa-thumbs-up' style='font-size: 1.1rem;'></i></span>";
                            }
                            else{
                                var liketext = "<span style='cursor: pointer' id='cm"+comments[i]['id']+"' class='commentlike'><span>Unlike</span><i class='' style='font-size: 1.1rem;'></i></span>";
                            }
                            $("#comments").append("<div class='row'><div class='col m10 s12'><div class='row commentboxmain' ><div class='col m2 s4' style=' vertical-align: middle;'><img class='circle responsive-img imgbox'  src='/media/profile/100/"+comments[i]['image_src']+"' /></div><div id='comm"+comments[i]['id']+"' class='col m10 s8' style='font-size: 20px;'><div style='font-size: 1.3rem;'><b><a style='color: black; font-weight: 500;' href='/@"+comments[i]['userurl']+"'>"+comments[i]['commentname']+"</a></b></div><div style='font-size: 1.5rem'>"+comments[i]['comment']+"</div><div style='font-size: 14px; font-weight: 400;'>"+comments[i]['date']
                                                    +" | "+ liketext +" | <span onClick='commentClick("+comments[i]['id']+")' for='"+comments[i]['id']+"' style='cursor: pointer; ' class='commentreply' id='"+comments[i]['id']+"'>Reply</span><div id='cmtbox"+comments[i]['id']+"' style='display: none;'><textarea rows='3' cols='70' id='commentbox"+comments[i]['id']+"'></textarea><button class='commentcheck  btn waves-effect waves-light' for='"+comments[i]['id']+"' style='margin-top: 5px; background-color: black;' >Reply <i class='fa fa-arrow-right' style='font-size: 1.1rem;'></i></button></div></div></div></div><div class=''><div class='col offset-m2 m10 offset-s2 s10'><div id='threadbox"+comments[i]['id']+"'></div>");
                            for(var j = 0; j < comments[i]['commentthread'].length; j+=1){
                                var commentlike = comments[i]['commentthread'][j]['like'];
                                if (commentlike == 0){
                                    var liketext = "<span style='cursor: pointer' id='ct"+comments[i]['commentthread'][j]['id']+"' class='commentlike'><span>Like</span><i class='fa fa-thumbs-up' style='font-size: 1.1rem;'></i></span>";
                                }
                                else{
                                    var liketext = "<span style='cursor: pointer' id='ct"+comments[i]['commentthread'][j]['id']+"' class='commentlike'><span>Unlike</span><i class='' style='font-size: 1.1rem;'></i></span>";
                                }
                                $("#threadbox"+comments[i]['id']).append("<div class='row commentboxinner'><div class='col m2 s4' style=' vertical-align: middle;'><img class='hide-on-small-only circle responsive-img imgbox'  src='/media/profile/100/"+comments[i]['commentthread'][j]['image_src']+"' /><img class='hide-on-med-and-up circle responsive-img'  src='/media/profile/100/"+comments[i]['commentthread'][j]['image_src']+"' style='display: block; width: 100%;' /></div><div class='col m10 s8'><div style='font-size: 1.3rem'><b><a style='color: black; font-weight: 400;' href='/@"+comments[i]['commentthread'][j]['threaduserurl']+"'>"+comments[i]['commentthread'][j]['threadname']+"</a></b></div><div style='font-size: 1.5rem'>"
                                                        +comments[i]['commentthread'][j]['thread']+"</div><div style='font-size: 14px; font-weight: 400;'>"
                                                        +comments[i]['commentthread'][j]['date']+" | "+liketext+"</div></div></div>");
                            }
                            $("#comments").append("</div></div><br>");
                        }
                    }
                    else{
                        console.log(output);
                    }
                }
            });

            $.ajax({
                type: 'POST',
                url: '/likescheck/',
                async: false,
                data: {
                    blogid: '{{blogid}}',
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(result){
                    var output = result['status'];
                    if (output == 200){
                        if (result['value'] == 1){
                            $("#heart").attr('class', 'fa fa-thumbs-up');
                            $("#heart2").text('Liked');
                            $("#likes").attr('to',1);
                        }
                        else{
                            $("#heart").attr('class', 'fa fa-thumbs-o-up');
                            $("#heart2").text('Like');
                            $("#likes").attr('to',0);
                        }
                    }
                    else{
                        console.log(output);
                    }
                }
            });
       
        });

</script>
<style>

    .popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
    }

    .popover__wrapper {
    position: relative;
    display: inline-block;
    }
    .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #fefefe;
    padding: 0.7rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.26);
    width: 400px;
    }
    .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
    }
    .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    }
    .popover__message {
    text-align: center;
    }

    textarea{
        font-size: 20;
        height: auto !important;
        padding: 15px;
        border-radius: 4px;
        resize: none;
        outline: none;
        border: 2px solid #444;
        margin: 5px 0px;
    }


.bgfader { 
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: #888;}
  to {background-color: #eee;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: #888;}
  to {background-color: #eee;}
}

.bgfader2 { 
    -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example2;
    animation-duration: 4s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example2 {
  from {background-color: #888;}
  to {background-color: #fff;}
}

/* Standard syntax */
@keyframes example2 {
  from {background-color: #888;}
  to {background-color: #fff;}
}
/*
ul li{
    list-style-type: initial !important;
    margin-left: 30px ;
}
*/
#modal1{
  top: 4% !important;
  bottom: auto !important;
}

.commentboxmain{
    padding: 1%; 
    height: auto; 
    letter-spacing: 0.055em; 
    margin-bottom: 10px;
    border-radius: 10px;
}
.commentboxinner{
    padding: 1%; 
    margin-left: 15%; 
    border-radius: 10px; 
    box-shadow: 0px 0px 5px #bbb; 
    background-color: #eee; 
    height: auto; 
    letter-spacing: 0.055em; 
    margin-bottom: 10px;
}
.commbox{
    background-color: #eee;
}
.imgbox{
    padding: 1%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    width: 80%;
}
</style>
    <!--
        <div class="parallax-container">
            <div class="parallax"><img src="/static/images/parallax1.jpg"></div>
        </div>
    -->

        <!-- Modal Structure -->
        <div id="modal1" class="modal" >
            <div class="modal-content">
                <div class="row">
                    <h4 class="center">Please Login</h4>
                    <div class="col m6">
                        <div>
                            <img class="responsive-img" src="/static/images/uploadsfile/mirage.png">
                        </div>
                    </div>
                    <div class="col m6">
                        <div>
                            <strong><div id="errorbox" class="center" style="color: red; font-size: 20px;"></div></strong>
                            {% csrf_token %}
                            <p>
                                <strong><label style="font-size: 15px; color: #222; letter-spacing: 1;">Email:</label></strong>
                                <input type="email" id="useremail" name="email" maxlength="254" required autocomplete="off">
                            </p>
                            <p>
                                <strong><label style="font-size: 15px; color: #222; letter-spacing: 1;">Password:</label></strong>
                                <input type="password" id="userpassword" placeholder="Create password" name="password" required autocomplete="off">
                            </p>                            
                            <div class="center">
                                <button id="loginbutton" class=" btn-large black" type="submit">Login</button>
                            </div>    
                            <p class="center"> 
                                New User? <a href="/signup"> Sign Up </a> <br>
                                <a href="{% url 'password_reset' %}" style="font-size: 14px;">Forgot Password</a>   
                            </p>   
                                                                                  
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <nav>
            <div class="nav-wrapper black flow-text">
                <div class="col s12">
                    <div class="container">
                        <a href="/" class="breadcrumb" style="padding-left: 1%;"><b>Home</b></a>
                        {% if fullname %}
                            <a href="/@{{ username|urlencode }}/" class="breadcrumb"><b>{{ fullname }}</b></a>
                        {% else %}
                            <a href="#" class="breadcrumb"><b>Anonymous</b></a>
                        {% endif %}
                        <a href="/@{{ username|urlencode }}/{{ url|urlencode }}/" class="breadcrumb"><b>{{ heading }}</b></a>
                    </div>
                </div>
            </div>
        </nav>

        <div id="doc">
            <div class="row">
                <div class="col s12 m8 offset-m2" style=" text-align: justify; text-justify: inter-word;">
                    <div>
                        <h1 style="text-align: left;">{{heading}}</h1>
                        <div style="font-size: 1.5rem; letter-spacing: 0.0625em; ">{{data|safe}}</div>
                        Total Views - {{ blog_views }}<br>
                        Total Likes - {{ blog_likes }}
                        {% if fullname %}
                            <div><b>Written By - </b>
                                <span style="font-family: 'Times New Roman', Times, serif;">

                                    <div class="popover__wrapper">
                                        <a href="/@{{ username|urlencode }}/">
                                            <h2 class="popover__title">{{ fullname }}</h2>
                                        </a>
                                        <div class="hide-on-small-only">
                                            <div class="popover__content">
                                                <div class="row" style="display: flex; align-items : center;">
                                                    <div class="col s5" style="height: 100%; vertical-align: middle;">
                                                        <img alt="@{{ username }}" style="width: 100%;" src="/media/profile/200/{{ image_src }}">
                                                    </div>
                                                    <div class="col s7">
                                                        {{ fullname }}<br><span style="font-size: 19px;">Total Blogs: {{ numberblog }}</span><br>
                                                        <a href="/@{{ username|urlencode }}/">
                                                            <button class='btn waves-effect waves-light' style="background-color: black; margin-top: 5px;" > View Profile <i class="fa fa-address-book" style="font-size: 1.1rem;"></i></button><br>
                                                        </a>
                                                        <span style="font-size: 16px;">Total post views: {{ user_views }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </span>
                            </div>
                        {% else %}
                            <div><b> Written By - Anonymous </b></div>
                        {% endif %}

                    </div>
                    <br>
                    <div class="row">
                        <div class="col m2 s4">
                            <button class="btn" style="text-transform: none; background-color: #eee; width: 100%; font-size: 16px; border-radius: 10%;">
                                <span id="likes" style="cursor: pointer; color: black;"  to="0">
                                    <i id="heart" class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span id="heart2">Like</span>
                                </span>
                            </button>
                        </div>
                        <div class="col m3 s8">
                            <button class="btn" style="text-transform: none; background-color: #eee; width: 100%; font-size: 16px; border-radius: 10%;">
                                <span id="maincomment" style="cursor: pointer; color: black;" to='0'>
                                    <!--<i id="icomment" class="fa fa-comment-o" style="color: black;" aria-hidden="true"></i>--><span id="icomment"> + Add Comments </span> 
                                </span>
                            </button>
                        </div>
                    </div>
                    <br><br>
                    <div id='cmtmainbox' style='display: none;'>
                        <textarea id='commentboxmain' for="main" ></textarea><br>
                        <button for="main" class='commentcheck btn waves-effect waves-light' style="margin-top: 5px; background-color: black;" >Reply <i class="fa fa-arrow-right" style="font-size: 1.1rem;"></i></button>
                    </div>
                    <div>
                        <div id="comments" style="width: 100%; line-height: 1.3;"></div>
                    </div>
                </div>
            </div>            
        </div>
        {% csrf_token %}
    </body>

    <script>
        $("#likes").click(function(){
            var loginned = {{ loginned }};
            if (loginned == 0){
                $('#modal1').modal();
                $('#modal1').modal('open');
                return 0
            }
            var value = $(this).attr('to');
            if (value == 0){
                $("#heart").attr('class', 'fa fa-thumbs-up');
                $("#heart2").text('Liked');
                $(this).attr('to',1);
            }
            else{
                $("#heart").attr('class', 'fa fa-thumbs-o-up');
                $("#heart2").text('Like');
                $(this).attr('to',0);
            }
            $.ajax({
                type: 'POST',
                url: '/likes/',
                data: {
                    blogid: '{{blogid}}',
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(result){
                    var output = result['status'];
                    console.log(output);
                    if (output == 0){
                        $('#modal1').modal();
                        $('#modal1').modal('open');
                    }
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
        });

        // Or with jQuery
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });


        $("#icomment").on('click', function(){
            var value = $("#maincomment").attr('to');
            var loginned = {{ loginned }};
            if (loginned == 0){
                $('#modal1').modal();
                $('#modal1').modal('open');
                return 0
            }
            if (value == 0){
                //$("#icomment").attr('class', 'fa fa-comment');
                //$("#icomment").attr('style', 'color: #D68910; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;');
                $("#cmtmainbox").slideDown(100);
                $("#maincomment").attr('to',"1");
            }
            else{
                //$("#icomment").attr('class', 'fa fa-comment-o');
                //$("#icomment").attr('style', 'color: #000;');
                $("#cmtmainbox").slideUp(100);
                $("#maincomment").attr('to','0');
            }
            
        });

        $(document).ready(function(){
            $('textarea').each(function (e) {
                var rows = $(this).val().split("\n");
                $(this).prop('rows', rows.length + 1);
            });
            $('textarea').keyup(function (e) {
                var rows = $(this).val().split("\n");
                $(this).prop('rows', rows.length +1);
            });
        });
        
        function commentClick(x) {
            var loginned = {{ loginned }};
            if (loginned){
                $("#cmtbox"+x).slideToggle(100);
            } 
            else{
                $('#modal1').modal();
                $('#modal1').modal('open');
            }
        }

        function commentThreadClick(x,y) {
            $("#cmtthread"+x+"_"+y).slideToggle(100);
        }

        $(document).on('click', '#loginbutton', function(){
            var email = $("#useremail").val();
            var password = $("#userpassword").val();
            $.ajax({
                type: 'POST',
                url: '/login/',
                data: {
                    email: email,
                    password: password,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(result){
                    status = result['status']
                    if (status == 200){
                        $('#modal1').modal('close');
                        location.reload(true);
                    }
                    else{
                        $('#errorbox').text(result['login_error']);
                    }
                }
            });
        });

        $(document).on('click', '.commentcheck', function(){
            var value = $(this).attr('for');
            var text = $("#commentbox"+value).val();
            $.ajax({
                type: 'POST',
                url: '/commentpush/',
                async: false,
                data: {
                    blogid: '{{blogid}}',
                    commentid: value,
                    commenttext: text,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(result){
                    if (result['status']==200){
                        if (value == "main"){
                            var liketext = "<span style='cursor: pointer' id='cm"+result['id']+"' class='commentlike'><span>Like</span><i class='fa fa-thumbs-up' style='font-size: 1.1rem;'></i></span>";
                            $("#comments").prepend("<div class='row'><div class='col m10 s12'><div class='row bgfader2 commentboxmain' id='homebt' ><div class='col m2 s4' style=' vertical-align: middle;'><img class='circle responsive-img imgbox'  src='/media/profile/100/"+result['image_src']+"' /></div><div id='comm"+result['id']+"' class='col m10 s8' style='font-size: 20px;'><div style='font-size: 1.3rem'><b><a style='color: black; font-weight: 500;' href='/@"+result['user']+"'>"+result['name']+"</a></b></div><div style='font-size: 1.5rem'>"+result['comment']+"</div><div style='font-size: 14px; font-weight: 400;'>"+result['date']
                                                +" | " + liketext + " | <span onClick='commentClick("+result['id']+")' for='"+result['id']+"' class='commentreply' style = 'cursor: pointer;' id='"+result['id']+"'>Reply</span><div id='cmtbox"+result['id']+"' style='display: none;'><textarea id='commentbox"+result['id']+"' rows='2'></textarea><button class='commentcheck btn waves-effect waves-light' style='margin-top: 5px; background-color: black;' for='"+result['id']+"' >Reply <i class='fa fa-arrow-right' style='font-size: 1.1rem;'></i></button></div></div></div></div><div class='row'><div class='col offset-m2 m10 offset-s2 s10'><div id='threadbox"+result['id']+"'></div></div></div>");
                            $("#comments").append("</div></div><br>");
                            $("#commentbox"+value).val('');
                            $("#icomment").attr('class', 'fa fa-comment-o');
                            $("#icomment").attr('style', 'color: #000;');
                            $("#cmtmainbox").slideToggle(50);
                        }
                        else{
                            var liketext = "<span style='cursor: pointer' id='ct"+result['id']+"' class='commentlike'><span>Like</span><i class='fa fa-thumbs-up' style='font-size: 1.1rem;'></i></span>";
                            $("#threadbox"+result['commentid']).prepend("<div class='row bgfader commentboxinner' ><div class='col m2 s4' style=' vertical-align: middle;'><img class='hide-on-small-only circle responsive-img imgbox'  src='/media/profile/100/"+result['image_src']+"' /><img class='hide-on-med-and-up circle responsive-img'  src='/media/profile/100/"+result['image_src']+"' style='display: block; width: 100%;' /></div><div class='col m10 s8'><div style='font-size: 1.3rem'><b><a style='color: black; font-weight: 400;' href='/@"+result['user']+"'>"+result['name']+"</a></b></div><div style='font-size: 1.5rem;'>"
                                                    +result['commentthread']+"</div><div style='font-size: 14px;  font-weight: 400;'>"
                                                    +result['date']+" | "+ liketext +"</div></div></div>");
                            $("#commentbox"+value).val('');
                            $("#cmtbox"+value).slideToggle(50);
                        }
                    }
                    else if(result['status'] == 400){
                        $('#modal1').modal();
                        $('#modal1').modal('open');  
                    }
                }
            });
        });     

        $(document).on('click', '.commentlike', function(){
            var loginned = {{ loginned }};
            if (loginned == 0){
                $('#modal1').modal();
                $('#modal1').modal('open');
                return 0
            }
            var value = $(this).attr('id');
            $.ajax({
                type: 'POST',
                url: '/commentslikes/',
                async: false,
                data: {
                    commentid: value,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(result){
                    if (result['status']==200){
                        var val = "span#"+value+" i";
                        var textval = "span#"+value+" span";
                        if (result['created'] == 0){
                            $(val).removeClass();
                            $(val).addClass('fa fa-thumbs-up');
                            $(textval).text("Like");
                        }
                        else{
                            $(val).removeClass();
                            $(textval).text("Unlike");
                        }
                    }
                    else if(result['status']==400){
                        $('#modal1').modal({"startingTop":0});
                        $('#modal1').modal('open');
                    }
                    else{
                        alert("Error");
                    }
                }
            });
        });     

    </script>
</html>