<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Writocraft</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/materialize-1.0.0.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/material-icons.css">
		<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://trendytheme.net/demo/matrox/assets/css/shortcodes/blog.css">
        <link rel="stylesheet" href="http://trendytheme.net/demo/matrox/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://trendytheme.net/demo/matrox/style.css?v=5">
		<link rel="stylesheet" href="http://trendytheme.net/demo/matrox/assets/owl.carousel/assets/owl.carousel.css">
		<link rel="stylesheet" href="http://trendytheme.net/demo/matrox/assets/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">

		
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,900' rel='stylesheet' type='text/css'>
	</head>
	<style>
		.menu-button{
			font-size: 20px;
			color: #000;
		}
		.menu-button-outer{
			background-color: #fff;
			border-radius: 50%;
			position: fixed;
			margin: 15px;
		}
		.card{
			margin-bottom: 0px !important;
		}
		.custom-circle{
			width: 50px !important;
    		height: 50px !important;
			text-align: center;
			line-height: 50px;
			font-size: 30px;
			top: 25px;
		}
		.collection .collection-item.avatar i.circle {
			line-height: 50px !important;
			font-size: 30px;
		}
		.collection-item{
			background-color: #f3f3f3 !important;

		}
		.top-title{
			font-size: 18px;
    		font-weight: 400;
		}
		#top-button{
			background-color: #fff;
			border-radius: 23px;
			height: 54px;
			line-height: 47px;
			font-size: 19px;
			padding: 0px 70px;
			color: #000;
			text-align: center; 
			margin-top: 30px;
		}
		.grid-news .blog-content {
			border: none;
		}
	</style>
    <body>

		<ul id="slide-out" class="sidenav">
			<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
			<li><a href="#!">Second Link</a></li>
			<li><div class="divider"></div></li>
			<li><a class="subheader">Subheader</a></li>
			<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
		  </ul>
		  <div class="menu-button-outer">
			<a href="#" data-target="slide-out" class="sidenav-trigger menu-button"><i class="material-icons" style="padding: 10px; font-size: 2.1rem;">menu</i></a>  
		  </div>
	

		<div class="row" style="background-color: #000; margin-bottom: 0px;">
			<div class="col m6 s12">
				<img src="/static/images/uploadsfile/logo-main.jpeg" style="width: 100%; margin-top: 15px;">
			</div>
			<div class="col m6 s12" style="color: #fff; text-align: center; ">
				<div style="text-align: center; padding: 20px;">
					<div style="margin-top: 25%;">
						<h2 style="font-weight: 200;">Unleash your creativity with Us.</h2>
					</div>
					<div>
						<h3 style="font-weight: 200;">Spend your leisure time with Writocraft.</h3>
					</div>
				</div>
				<button id="top-button" class="btn-large"><span style="border-radius: 50%;"><i class="fa fa-pencil circle" aria-hidden="true"></i>  </span>Sign Up </button>
				<br><br>
			</div>
		</div>
		<div style="background-color: #333; display: flex; padding: 20px 5px;" class="hide-on-med-and-down">
			<div style=" text-align: center; width: 20%; float: left; color: #fff; margin: auto; font-size: 4.2rem;">
				Our Top Writers
			</div>
			<div style="float: right; background-color: #333; overflow: hidden; width: 80%;">
				<div style="width: 250%; display: flex; transform: translateX(0%); transition: transform 2s;" id="user-box">
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/baishakhi.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">1Arghadeepa</div>
								<p>A fun loving girl who loves to play with words</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/sakshi.jpg" alt="Avishek" >
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">2Baishakhi</div>
								<p>An Unsocial Woman with Large Dream</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/saurav.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">3Sakshi Kumari</div>
								<p>Creative soul with cheerful mind</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/saurav.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">4Sakshi Kumari</div>
								<p>Creative soul with cheerful mind</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/baishakhi.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">5Arghadeepa</div>
								<p>A fun loving girl who loves to play with words</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/sakshi.jpg" alt="Avishek" >
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">6Baishakhi</div>
								<p>An Unsocial Woman with Large Dream</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/saurav.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">7Sakshi Kumari</div>
								<p>Creative soul with cheerful mind</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/saurav.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">8Sakshi Kumari</div>
								<p>Creative soul with cheerful mind</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/baishakhi.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">9Arghadeepa</div>
								<p>A fun loving girl who loves to play with words</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/sakshi.jpg" alt="Avishek" >
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">10Baishakhi</div>
								<p>An Unsocial Woman with Large Dream</p>
							</div>
						</div>
					</div>
				</div>
				<div style="display:flow-root; margin-bottom: 0.5rem;">
					<div style="float: left;" id="left-btn">
						<button class="btn" id="left-btn-main" style="background-color: #fff; color: #000;" disabled>
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</button>
					</div>
					<div style="float: right;" id="right-btn">
						<button class="btn" id="right-btn-main" style="background-color: #fff; color: #000;">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="hide-on-large-only">
			<br>
			<div class="collection-item" style="padding: 15px; background-color: #000 !important; color: #fff; font-size: 30px; text-align: center; font-size: 46px; line-height: unset;"> 
				Our Top Writers
			</div>
			<div style="background-color: #333; overflow: hidden; width: 100%;">
				<div style="width: 250%; display: flex; transform: translateX(0%); transition: transform 2s;" id="user-box">
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/baishakhi.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">1Arghadeepa</div>
								<p>A fun loving girl who loves to play with words</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/sakshi.jpg" alt="Avishek" >
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">2Baishakhi</div>
								<p>An Unsocial Woman with Large Dream</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/saurav.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">3Sakshi Kumari</div>
								<p>Creative soul with cheerful mind</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/saurav.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">4Sakshi Kumari</div>
								<p>Creative soul with cheerful mind</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/baishakhi.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">5Arghadeepa</div>
								<p>A fun loving girl who loves to play with words</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/sakshi.jpg" alt="Avishek" >
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">6Baishakhi</div>
								<p>An Unsocial Woman with Large Dream</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/saurav.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">7Sakshi Kumari</div>
								<p>Creative soul with cheerful mind</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/saurav.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">8Sakshi Kumari</div>
								<p>Creative soul with cheerful mind</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/baishakhi.jpeg" alt="Avishek">
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">9Arghadeepa</div>
								<p>A fun loving girl who loves to play with words</p>
							</div>
						</div>
					</div>
					<div class="in-box">
						<div class="card">
							<div class="card-content">
								<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/sakshi.jpg" alt="Avishek" >
							</div>
							<div class="card-content center" style="padding-top: 0px; height: 150px;">
								<div class=" card-title" style="font-weight: 400;">10Baishakhi</div>
								<p>An Unsocial Woman with Large Dream</p>
							</div>
						</div>
					</div>
				</div>
				<div style="display:flow-root; margin-bottom: 0.5rem;">
					<div style="float: left;" id="left-btn-phone">
						<button class="btn" id="left-btn-main-phone" style="background-color: #fff; color: #000;" disabled>
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</button>
					</div>
					<div style="float: right;" id="right-btn-phone">
						<button class="btn" id="right-btn-main-phone" style="background-color: #fff; color: #000;">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col m3 s12">
				<ul class="collection" style="z-index: 0;">
					<li class="collection-item" style="padding: 15px; background-color: #000 !important; color: #fff; font-size: 30px; text-align: center; font-size: 46px; line-height: unset;"> 
						Recently Published
					</li>
					<li class="collection-item avatar">
						<span class="circle custom-circle white">1</span>
						<h6>India - Land of Gods</h6>
						<p>Abc Kumar</p>
					</li>
					<li class="collection-item avatar">
						<span class="circle custom-circle white">2</span>
						<h6>India - Land of Gods</h6>
						<p>Abc Kumar</p>
					</li>
					<li class="collection-item avatar">
						<span class="circle custom-circle white">3</span>
						<h6>India - Land of Gods</h6>
						<p>Abc Kumar</p>
					</li>
					<li class="collection-item avatar">
						<span class="circle custom-circle white">4</span>
						<h6>India - Land of Gods</h6>
						<p>Abc Kumar</p>
					</li>
					<span id="blockhide" style="display: none;">
						<li class="collection-item avatar">
							<span class="circle custom-circle white">5</span>
							<h6>India - Land of Gods</h6>
							<p>Abc Kumar</p>
						</li>
						<li class="collection-item avatar">
							<span class="circle custom-circle white">6</span>
							<h6>India - Land of Gods</h6>
							<p>Abc Kumar</p>
						</li>
						<li class="collection-item avatar">
							<span class="circle custom-circle white">7</span>
							<h6>India - Land of Gods</h6>
							<p>Abc Kumar</p>
						</li>
						<li class="collection-item avatar">
							<span class="circle custom-circle white">8</span>
							<h6>India - Land of Gods</h6>
							<p>Abc Kumar</p>
						</li>
						<li class="collection-item avatar">
							<span class="circle custom-circle white">9</span>
							<h6>India - Land of Gods</h6>
							<p>Abc Kumar</p>
						</li>
						<li class="collection-item avatar">
							<span class="circle custom-circle white">10</span>
							<h6>India - Land of Gods</h6>
							<p>Abc Kumar</p>
						</li>
					</span>
					<a id="flip">
						<li class="collection-item" style="padding: 5px; background-color: #000 !important; color: #fff; font-size: 16px; text-align: center; line-height: unset;"> 
							View More
						</li>
					</a>
				</ul>
			</div>
			
		</div>

		<section class="section-padding grid-news">
			<div class="container">
				<h2>Check Box</h2>
				<div id="owl-demo1" class="owl-carousel owl-theme">
				{% for each in writers %}
				<!--
				hello
				<div class="in-box">
					<div class="card">
						<div class="card-content">
							<img class="responsive-img circle" style="width: 100%;" src="/static/images/team/baishakhi.jpeg" alt="Avishek">
						</div>
						<div class="card-content center" style="padding-top: 0px; height: 150px;">
							<div class=" card-title" style="font-weight: 400;">1Arghadeepa</div>
							<p>A fun loving girl who loves to play with words</p>
						</div>
					</div>
				</div>
				
				<div class="">
					<article class="post-wrapper">
						<div class="thumb-wrapper waves-effect waves-block waves-light" style="height: 240px;">
							<a href="#"><img src="/media/profile/org/{{each.profilepic}}" class="img-responsive" style="max-height: 240px;" alt=""></a>
						</div>
						<div class="blog-content">
							<header class="entry-header-wrapper">
								<div class="entry-header">
									<h2 class="entry-title"><a href="/@{{ each.username|urlencode }}/{{ each.url|urlencode }}/">{{ each.fullname|truncatechars:35 }}</a></h2>
									<div class="entry-meta">
										<ul class="list-inline">
											<li>
												<i class="fa fa-user"></i> <a href="#">{{ each.fullname }}</a>
											</li>
											<li>
												<i class="fa fa-clock-o"></i> <a href="#">{{ each.date_time }}</a>
											</li>
										</ul>
									</div>
								</div>
							</header>
							<div class="entry-content text-justify" style="height: 150px; max-height: 150px;">
								<p>{{ each.data|truncatechars:200 }}</p>
							</div>
						</div>
					</article>
				</div>-->

				<div>
					<article class="post-wrapper" style="border: 1px solid #eee;">
						<div class="thumb-wrapper waves-effect waves-block waves-light" style="padding: 20px;">
							<a href="#"><img src="/media/profile/org/{{each.profilepic}}" class="img-responsive" style="border-radius: 50%;" alt=""></a>
						</div>
						<div class="blog-content" style="border-top: 1px solid #eee; border-bottom: 1px solid #eee;">
							<header class="entry-header-wrapper">
								<div class="entry-header">
									<h2 class="entry-title"><a href="/@{{ each.username|urlencode }}" style="font-size: 22px; font-weight: 700; text-transform: uppercase;">{{ each.fullname|truncatechars:20 }}</a></h2>
									<div class="entry-meta" style="font-size: 14px;">
										{{ each.currentwork }}
									</div>
								</div>
							</header>
							<div class="entry-content text-justify" style="height: 100px; max-height: 050px;">
								<p>{{ each.description|truncatechars:100 }}</p>
							</div>
							<footer class="entry-footer">
								<a class="readmore pull-right" href="/@{{ each.username|urlencode }}"> View Profile <i class="fa fa-long-arrow-right"></i></a>
							</footer>
						</div>
					</article>
				</div>
				{% endfor %}
			</div>
		</div>
		</section>


		<section class="section-padding grid-news">
			<div class="container">
				<div class="text-center mb-80">
					<h2 class="section-title">Our Weekly Tops</h2>
					<p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
				</div>
				<div class="">
					<div id="owl-demo2" class="owl-carousel owl-theme">
					{% for each in blogs %}
					<div>
					<div class="">
						<article class="post-wrapper">
							<div class="thumb-wrapper waves-effect waves-block waves-light" style="height: 240px;">
								<a href="#"><img src="{{ each.img_src }}" class="img-responsive" style="max-height: 240px;" alt=""></a>
							</div>
							<div class="blog-content">
								<header class="entry-header-wrapper">
									<div class="entry-header">
										<h2 class="entry-title"><a href="/@{{ each.username|urlencode }}/{{ each.url|urlencode }}/">{{ each.heading|truncatechars:35 }}</a></h2>
										<div class="entry-meta">
											<ul class="list-inline">
												<li>
													<i class="fa fa-user"></i> <a href="#">{{ each.fullname }}</a>
												</li>
												<li>
													<i class="fa fa-clock-o"></i> <a href="#">{{ each.date_time }}</a>
												</li>
											</ul>
										</div>
									</div>
								</header>
								<div class="entry-content text-justify" style="height: 150px; max-height: 150px;">
									<p>{{ each.data|truncatechars:200 }}</p>
								</div>
								<footer class="entry-footer">
									<ul class="list-inline pull-left">
										<li><a href="#"><i class="fa fa-eye"></i> {{ each.viewsnum }}</a></li>
										<li><a href="#"><i class="fa fa-heart-o"></i> {{ each.likes_count }}</a></li>
										<li><a href="#"><i class="fa fa-comments"></i> {{ each.comments_count }}</a></li>
									</ul>
									<a class="readmore pull-right" href="/@{{ each.username|urlencode }}/{{ each.url|urlencode }}/">Read Full Post <i class="fa fa-long-arrow-right"></i></a>
								</footer>
							</div>
						</article>
					</div>
				</div>
					{% endfor %}
				</div>
				
				</div>
			</div>
		</section>

		<div class="owl-carousel owl-theme">
          
			<div><h1>1</h1></div>
			<div class="item"><h1>2</h1></div>
			<div class="item"><h1>3</h1></div>
			<div class="item"><h1>4</h1></div>
			<div class="item"><h1>5</h1></div>
			<div class="item"><h1>6</h1></div>
			<div class="item"><h1>7</h1></div>
			<div class="item"><h1>8</h1></div>
			<div class="item"><h1>9</h1></div>
			<div class="item"><h1>10</h1></div>
			<div class="item"><h1>11</h1></div>
			<div><h1>12</h1></div>
		   
		</div>

<div id="carousel1" class="owl-carousel owl-theme">
	<div class="wow"><img src="https://i.picsum.photos/id/237/400/300.jpg"></div>
	<div><img src="https://i.picsum.photos/id/238/400/300.jpg"></div>
	<div><img src="https://i.picsum.photos/id/239/400/300.jpg"></div>
	<div><img src="https://i.picsum.photos/id/240/400/300.jpg"></div>
	<div><img src="https://i.picsum.photos/id/241/400/300.jpg"></div>
	<div><img src="https://i.picsum.photos/id/242/400/300.jpg"></div>
	<div><img src="https://i.picsum.photos/id/243/400/300.jpg"></div>
	<div><img src="https://i.picsum.photos/id/244/400/300.jpg"></div>
</div>
	
        <footer class="page-footer" style="background-color: #444;">
			<div class="container">
			  <div class="row">
				<div class="col l6 s12">
				  <h5 class="white-text">Footer Content</h5>
				  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
				</div>
				<div class="col l4 offset-l2 s12">
				  <h5 class="white-text">Links</h5>
				  <ul>
					<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
				  </ul>
				</div>
			  </div>
			</div>
			<div class="footer-copyright" style="background-color: #333;">
			  <div class="container">
			  © 2014 Copyright Text
			  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			  </div>
			</div>
		  </footer>
		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="/static/js/materialize-1.0.0.min.js"></script>
<script type="text/javascript" src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>

<script type="text/javascript">
$('#owl-demo1').owlCarousel({
   loop:true,
   margin:10,
   responsive:{
     0:{
       items:2
     },
     600:{
       items:3
     },
     1000:{
       items:4
     }
   }
 });
$('#owl-demo2').owlCarousel({
   loop:true,
   margin:10,
   responsive:{
     0:{
       items:1
     },
     600:{
       items:2
     },
     1000:{
       items:3
     }
   }
 });
</script>
		<script>
			$(document).ready(function(){
				$('.sidenav').sidenav();
			});
			window.div_user_loc = 0;
			$("#right-btn").click(function(){
				$("#left-btn-main").removeAttr("disabled","");
				cur_loc = window.div_user_loc;
				var diff = 60 - cur_loc;
				if (diff<=40){
					window.div_user_loc = cur_loc+diff;
					$("#user-box").css("transform","translateX(-"+window.div_user_loc+"%)");
					$("#right-btn-main").attr("disabled","");
					return true;
				}
				if (diff > 40){
					window.div_user_loc = cur_loc+40;
					$("#user-box").css("transform","translateX(-"+window.div_user_loc+"%)");
					return true;
				}
			});
			$("#left-btn").click(function(){
				$("#right-btn-main").removeAttr("disabled","");
				cur_loc = window.div_user_loc;
				if (cur_loc<=40){
					window.div_user_loc = 0;
					$("#user-box").css("transform","translateX(+"+window.div_user_loc+"%)");
					$("#left-btn-main").attr("disabled","");
					return true;
				}
				if (cur_loc > 40){
					window.div_user_loc = cur_loc-40;
					$("#user-box").css("transform","translateX(-"+window.div_user_loc+"%)");
					return true;
				}
			});
			$(document).ready(function(){
				$("#flip").click(function(){
					$("#blockhide").slideToggle("slow");
				});
			});
		</script>
    </body>
</html>