<html>
    <head>
        <title>Welcome Onboard</title>
        <script src="/static/js/jquery.min.js" ></script>
        <link href="/static/css/materialize.min.css" rel="stylesheet">
        <script src="/static/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    </head>
    <body style="background-color: #444;;">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="card" style="padding: 25px; background-color: #fff;">
                        <h4 class="card-title  text-center">Login To Your Account</h4>
                        <form method="post" action='/login/'>
                            {% csrf_token %}
                            <p>
                                <span style="color: black;"><label for="id_email">Email:</label></span>
                                <input type="email" name="email" maxlength="254" required>
                            </p>
                            <p>
                                <span style="color: black;"><label for="id_password1">Password:</label></span>
                                <input type="password" placeholder="Create password" name="password" required>
                            </p>                                
                            <div class="center">
                                <button class=" btn black" type="submit">Login</button>
                            </div>    
                            <p class="text-center"> New User? <a href="/signup"> Sign Up </a> </p>                                                                 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>