{% include "navbar.html" %}
<style>
.grad1 {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #a0a0a0 , #eae8e8); /* Standard syntax (must be last) */
}

.buttoncustom{
    width: 100%; 
    display: block; 
    border-radius: 8px;
}
</style>
<div class="container">


            {% if blog_num > 0 %}
                {% for each in blogs %}
                    <div class="grad1" style="margin-top: 10px; border-radius: 11px;">
                        <div class="row " style="padding: 10px; border-radius: 10px;">
                            <div class="col m2 s4 valign-wrapper" style="height: 100px;">
                                <img src="{{ each.src }}" style="max-width: 100%; max-height: 95px; display:block; margin:auto; padding: 4px; background-color: #fff;">
                            </div>
                            <div class="col m5 s8 valign-wrapper"  style="height: auto;">
                                <div style="width: 100%; display:block;  margin:auto; ">
                                    <span style="font-weight: 400; line-height: 48px;">{{ each.heading }}</span><br>
                                    <span style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; line-height: 18px;">Published on {{ each.created }}</span><br>
                                    <span style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; ">Updated on {{ each.updated }}</span>
                                </div>
                            </div>
                            <div class="col m2 s5 valign-wrapper"  style="height: 100px;">
                                <a class="btn btn-large black buttoncustom" href="/edit/{{ each.url|urlencode }}/">Edit</a> 
                            </div>
                            <div class="col m2 s5 valign-wrapper"  style="height: 100px;">
                                {% if each.is_anonymous %}
                                    <a class="btn btn-large black buttoncustom" href="/anonymous/{{ each.timestamp }}/{{ each.url|urlencode }}/">View</a><br>
                                {% else %}
                                    <a class="btn btn-large black buttoncustom" href="/@{{ user|urlencode }}/{{ each.url|urlencode }}/">View</a><br>
                                {% endif %}
                            </div>
                            <div class="col m1 s2 valign-wrapper"  style="height: 100px;">
                                <a class="btn btn-large red" style="width: 100%; display:block; padding: 0px; border-radius: 4px;" href="/delete/{{ each.url|urlencode }}/"><i class="material-icons">delete</i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </body>
</html>
