{% include "navbar.html" %}

        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href="/static/css/style-user.css" rel="stylesheet" type='text/css'>
        
        <style type='text/css'>
            .token{
                letter-spacing: 1.1px;
                background-color: #b2f1ff;
                padding: 6px 12px;
                border-radius: 15px;
                color: #222f3e;
                margin-right: 2px;
            }
            .sidebar .info{
                border-bottom: 1px solid #111;
            }
            @media only screen and (min-width: 993px){
                .container {
                    width: 75%;
                }
            }
            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height:100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: black;
            }

            .feature-img:hover .overlay {
                opacity: 0.5;
            }

            .text {
                color: white;
                font-size: 20px;
                position: absolute;
                top: 80%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
            body{
                text-align: left;
                color: #555;
            }
            .row1{
                margin-left: 0.75rem !important; 
                margin-right: 0.75rem !important;
            }
            .m-name{
                text-shadow: 2px 2px 4px #000 !important;
            }
            .w-name{
                text-shadow: 2px 1px 2px #000 !important;
            }
            .mg-b{
                margin-bottom: 0px;
            }
            .card-image-div{
                text-align: center; 
                height: 240px; 
                border-bottom: 1px solid #ccc;
            }
            .card-image-main{
                max-height: 240px; 
                max-width: 100%; 
                vertical-align: middle; 
                height: auto; 
                width: auto !important; 
                margin: auto !important;
            }
            .border-bottom-n{
                border-bottom: none;
            }
            .lh-28{
                line-height: 28pt;
            }
            .card-pd{
                padding: 15px 24px 5px 24px !important;
            }
            .card-t-box{
                overflow: hidden; 
                height: 60px;
            }
            .card-p-box{
                overflow: hidden; height: 45px;
            }
            @media only screen and (max-width: 992px){
                .modal {
                    width: 90%;
                }
            }
        </style>
        
    </head>
    <body>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">

                    <div style="border-bottom: 1px solid rgba(0,0,0,0.1); position: absolute; top: 0;" class="modal-footer">
                        <h2 class="center">Your Followers</h2>
                    </div>
                    <div class="modal-content" style="height: 70vh; overflow:scroll; ">
                        <br><br>
                        {% for each in followers_list %}
                        <div class="row">
                            <div class="col m1 s3">
                                <img class="image" src="{{ each.src }}" style="width: 100%; border-radius: 50%;">

                            </div>
                            <div class="col m6 offset-m1 s5">
                                <a href="/@{{ each.username|urlencode }}" class="black-text" style="font-size: 1.4rem;">{{ each.name }}</a>
                            </div>
                            <div class="col m4 s4 center">
                                {% if each.is_followed == 0 %}
                                    <button for="{{ each.userid }}" id="fol_{{ each.userid }}" class="btn white black-text follow_btn" style="font-size: 0.8rem; padding: 0 6px;">Follow</button>
                                {% else %}
                                    <button for="{{ each.userid }}" id="fol_{{ each.userid }}" class="btn grey lighten-2 black-text follow_btn" style="font-size: 0.8rem; padding: 0 6px;">Followed</button>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div style="border-top: 1px solid rgba(0,0,0,0.1); position: absolute; bottom: 0;" class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                  </div>
                <!-- /Modal Structure -->
        <!-- Start Container-->
        <div class="container">
            <!-- row -->
            <div class="row row1" >
            <!-- =========================================
                           SIDEBAR   
            ==========================================-->
                <!-- Start Sidebar -->
                <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar" style="background-color: #2f3640; margin-bottom: 24px;">
                    <!--  Sidebar row -->
                    <div class="row">                      
                        <!--  top section   -->
                        <div class="heading">                            
                            <!-- ====================
                                      IMAGE   
                            ==========================-->
                            <div class="feature-img">
                                <img src="/media/profile/org/{{ image_src }}" class="responsive-img image" alt="">
                                <div class="overlay">
                                    <div class="text">
                                        <a href="/photo_upload"><i class="fa fa-camera"></i> Update Image </a>
                                    </div>
                                </div>
                            </div>                            
                         
                            <!-- ========================================
                                       NAME AND TAGLINE
                            ==========================================-->
                                               
                        </div>
                        <div class="title col s12 m12 l12 center" style="padding: 15px 5px;">   
                            <h2 class="m-name">{{ fullname }}</h2> <!-- title name -->
                            <span class="w-name">{{currentwork}}</span>  <!-- tagline -->
                        </div>      
                         <!-- sidebar info -->
                        {% if description != '' and description != None %}
                        <div class="col l12 m12 s12 sort-info sidebar-item">
                            
                            <div class="row">                               
                                <div class="col m12 s12 l3 icon"> <!-- icon -->
                                   <i class="fa fa-user"></i>
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s" > <!-- text -->
                                    <div class="section-item-details" style="margin-top: 9px; padding: 0px 5px;">
                                        <div class="hide-on-small-only">
                                            <p style="font-size: 17px;">{{ description }}</p>
                                        </div>
                                        <div class="hide-on-med-and-up">
                                            <p style="font-size: 17px;" class="center">{{ description }}</p>
                                        </div>
                                    </div>             
                                </div>
                            </div>       
                        </div>
                        {% endif %}  
                        <!-- ADDRESS  -->
                        {% if country != '' and country != None %}
                        <div class="col l12 m12 s12  address sidebar-item ">
                            <div class="row mg-b">                                
                                <div class="col l3 m12  s12 icon">
                                    <i class="fa fa-home"></i> <!-- icon -->
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a4 border-bottom-n" data-wow-delay="0.4s">
                                    <div class="section-item-details" style="padding: 0px 5px;">
                                        <div class="address-details"> <!-- address  -->
                                            <div class="hide-on-small-only">
                                                <h4 class="lh-28" style="font-size: 17px;">Country: {{country}}</h4> 
                                            </div>
                                            <div class="hide-on-med-and-up">
                                                <h4 class="lh-28 center" style="font-size: 17px;" >Country: {{country}}</h4> 
                                            </div>
                                        </div>                         
                                    </div>
                                </div>
                            </div>            
                        </div>
                        {% endif %}

                        <div class="col l12 m12 s12  address sidebar-item ">
                            <div class="row mg-b">                                
                                <div class="col l3 m12  s12 icon">
                                    <i class="fa fa-users"></i><!-- icon -->
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a4 border-bottom-n" data-wow-delay="0.4s">
                                    <div class="section-item-details" style="padding: 0px 5px;">
                                        <div class="address-details"> <!-- address  -->
                                            <div class="hide-on-small-only">
                                                <h4 class="lh-28" style="font-size: 17px;">Followers: {{followers}}</h4> 
                                            </div>
                                            <div class="hide-on-med-and-up">
                                                <h4 class="lh-28 center" style="font-size: 17px;" >Followers: {{followers}}</h4> 
                                            </div>
                                        </div>                         
                                    </div>
                                </div>
                            </div>            
                        </div>
                        <!---->
                        <div class="col l12 m12 s12  address sidebar-item ">
                            <div class="row mg-b"> 
                                <div class="center">
                                    <a href="/editprofile"><button class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button></a>
                                    {% if followers %}
                                    <button data-target="modal1" class="btn modal-trigger white black-text">See Followers</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>   <!-- end row -->
                </aside><!-- end sidebar -->

                <!-- =========================================
                   Work experiences
                ==========================================-->

                <section class="col s12 m12 l8 section" style="padding-left: 3vw !important;">
                    <div class="row">
                        
                        <div class="section-wrapper z-depth-1">                            
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-suitcase"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                                <h2>Work Experience</h2>
                                {% if work_num %}
                                    {% for each in work %}
                                        <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                            <h3>{{ each.role }}
                                                <span> @{{ each.company }}</span>
                                                <a href="/editwork/{{ each.id }}"> 
                                                    <span class="right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                </a>
                                            </h3>
                                            <span>
                                                {{ each.from_month|upper }} {{ each.from_year }} - 
                                                {% if each.present %}
                                                    PRESENT
                                                {% else %}
                                                    {{ each.to_month|upper }} {{ each.to_year }}
                                                {% endif %}
                                            </span>
                                            <p>{{ each.description }}</p>
                                        </div>
                                    {% endfor %}
                                    Add More Details <a href="/work" class="blue-text" >Add</a>
                                {% else %}
                                    Add Details <a href="/work" class="blue-text" >Add</a>
                                {% endif %}
                            </div>                            
                        </div>

                        <!-- ========================================
                         Education 
                        ==========================================-->

                        <div class="section-wrapper z-depth-1">
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                                <h2>Education</h2>
                                {% if education_num %}
                                    {% for each in education %}
                                        <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                            <h3>{{ each.degree }} <span>in</span> {{ each.fieldofstudy }}
                                                <br>
                                                <span>{{ each.school }}</span>
                                                <a href="/editeducation/{{ each.id }}"> 
                                                    <span class="right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                </a>
                                            </h3>
                                            <span>
                                                {{ each.from_month|upper }} {{ each.from_year }} -  {{ each.to_month|upper }} {{ each.to_year }}
                                            </span>
                                            <p>{{ each.description }}</p>
                                        </div>
                                    {% endfor %}
                                    Add More Details <a href="/education" class="blue-text" >Add</a>
                                {% else %}
                                    Add Details <a href="/education" class="blue-text" >Add</a>
                                {% endif %}
                            </div>
                        </div>


                        <!-- ========================================
                              Intertests 
                        ==========================================-->
<!--
                        <div class="section-wrapper z-depth-1">                           
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-plane"></i>
                            </div>
                            <div class="interests col s12 m12 l10 wow fadeIn" data-wow-delay="0.1s"> 
                                <h2>Interests </h2>
                                <div class="chips">
                                    <input class="custom-class" name="interests" id="interest">
                                </div>
                                <button id="interestsave" class="waves-effect btn">Save</button>
                            </div>                 
                        </div>
-->
                        <!-- ========================================
                              Intertests 
                        ==========================================-->

                        <div class="section-wrapper z-depth-1">                           
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-th-large"></i>
                            </div>
                            <div class="interests col s12 m12 l10">
                                <h2>BLOGS <a href="/createblog" class="blue-text" ><button class="waves-effect btn">+ Add Blogs</button></a></h2>
                                
                            </div>
                            <div class="interests col s12 m12 l12 wow fadeIn" data-wow-delay="0.1s"> 
                                <div class="row">
                                    {% for each in blogs %}
                                        <div class="col s12 m6">
                                            <div class="card">
                                                <div class="card-image white card-image-div">
                                                    <img src="{{ each.img_src }}" class="card-image-main" >
                                                </div>
                                                <div class="card-content card-pd">
                                                    <span class="card-title card-t-box">{{ each.heading|truncatechars:40 }}</span>
                                                    <p class="card-p-box">{{ each.cleaned_data|truncatechars:90 }}</p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="/@{{ username|urlencode }}/{{ each.url|urlencode }}/">Read Now</a>
                                                    <a href="/edit/{{ each.url|urlencode }}/">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>                          
                        </div>

                        <!-- =======================================
                          portfolio Website
                        ==========================================-->
                    </div><!-- end row -->
                </section><!-- end section -->
            </div> <!-- end row -->
        </div>  <!-- end container -->
        
        {% csrf_token %}

    </body>
    <script>
        $(document).ready(function(){
            $('#modal1').modal({'endingTop':'8%'});
        });

        document.addEventListener('DOMContentLoaded', function() {
            var interest_list = {{ interest_list|safe }};
            interests = [];
            for (i = 0; i < interest_list.length; i++) {
                interests.push({tag: interest_list[i]});
            }
            options = {
                placeholder: 'Enter a interest',
                secondaryPlaceholder: '+Interest',
                limit: 20,
                data: interests,
            }
            var elems = document.querySelectorAll('.chips');
            var instances = M.Chips.init(elems, options);
        });
    
            $(document).on('click', '#interestsave', function(){
        
                var interest = JSON.stringify(M.Chips.getInstance($('.chips')).chipsData);
                console.log(interest)
                
                $.ajax({
                    type: 'POST',
                    url: '/interestsave/',
                    data: {
                        interest: interest,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(result){
                        status = result['status']
                        if (status == 200){
                            $('#successinterestbox').text(result['message']);
                            $("#successinterestbox").show();
                        }
                        else{
                            $('#errorinterestbox').text(result['message']);
                            $("#errorinterestbox").show();
                        }
                    }
                });
                
            });


            $(document).ready(function(){
                $(".follow_btn").click(function(){
                    forval = $(this).attr("for");
                    $.ajax({
                        type: 'POST',
                        url: '/followpush/',
                        data: {
                            profile: forval,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(result){
                            if (result['status']==200){
                                btn_name = "#fol_"+forval;
                                console.log($(btn_name))
                                if (result['stat']==0){
                                    $(btn_name).text("Follow");
                                    $(btn_name).removeClass("grey lighten-2 black-text");
                                    $(btn_name).addClass("white black-text");
                                }
                                else{
                                    $(btn_name).text("Followed");
                                    $(btn_name).removeClass("white black-text");
                                    $(btn_name).addClass("grey lighten-2 black-text");
                                }
                            }
                        }
                    });
                });
            });
            
                  </script>

</html>
