{% load static from staticfiles %}
<html>
    <head>
        <title>{{ title_pg }}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
        <meta name="theme-color" content="#ffffff">
        <meta name="title" content="{{ title_pg }}"/>
        <meta name="description" content="{{ description_pg|truncatechars:140 }}"/>
        <meta property="fb:app_id" content="105554951032711"/>
        <meta property="og:site_name" content="Writocraft"/>
        <meta property="og:title" content="{{ title_pg }}"/>
        <meta property="og:description" content="{{ description_pg|truncatechars:120 }}"/>
        <meta property="og:url" content="{{ curr_url_pg }}"/>
        <meta property="al:web:url" content="{{ curr_url_pg }}"/>
        <meta name="robots" content="{{ robots_pg }}"/>
        {% if ptype == "article" %}
        <meta property="og:image" content="{{ img_url_pg }}"/>
        <meta property="og:type" content="article"/>
        <meta property="article:published_time" content="{{ time_pg }}"/>
        <meta property="article:author" content="{{ author_url_pg }}"/>
        <link rel="author" href="{{ author_url_pg }}"/>
        <meta name="author" content="{{ full_name_pg }}"/>
        {% elif ptype == "profile" %}
        <meta property="og:image" content="{{ img_url_pg }}"/>
        <meta property="og:type" content="profile"/>
        <meta property="profile:username" content="{{ username_pg }}"/>
        <meta property="profile:first_name" content="{{ first_name_pg }}"/>
        <meta property="profile:last_name" content="{{ last_name_pg }}"/>
        {% else %}
        <meta property="og:image" content="{{ img_url_pg }}"/>
        {% endif %}
        <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons.ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons.ico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons.ico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons.ico/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons.ico/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons.ico/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons.ico/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons.ico/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons.ico/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favicons.ico/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons.ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicons.ico/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons.ico/favicon-16x16.png">
        <link rel="manifest" href="/static/images/favicons.ico/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <link rel="mask-icon" href="https://writocraft.com/static/images/uploadsfile/logo-main.svg" color="#171717"/>
        

        <script src="/static/js/jquery.min.js" ></script>
        <link href="/static/css/materialize.min.css" rel="stylesheet">
        <link href="/static/css/navbar.css" rel="stylesheet">
        <script src="/static/js/materialize.min.js"></script>
        <link href="/static/css/material-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" />

        <script data-ad-client="ca-pub-4822230141083291" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166970710-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-166970710-1');
        </script>
        <style>
          #dropdown-notify{
            width: 500px;
            color: #222;
          }
        </style>
        
    </head>
    <body to="0">
       
        
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper" style="line-height: 57px; background-color: #2f3640">
                    <a href="#" title="Menu" class="sidenav-trigger" data-target="mobile-links">
                        <i class="material-icons left">menu</i>
                    </a>
                    <a title="logo-home" style="margin-left: 50px;" href="/" class="hide-on-small-only brand-logo black-text text-darken-2">
                      <img alt="small logo" src="/static/images/uploadsfile/logo-main-small.jpg" style="max-height: 100px;">
                    </a>
                    <a href="#!" title="search-bar-anchor" class="hide-on-med-and-up">
                      <div class="input-field" style="float: left; width: 66%;">
                        <input id="search2" type="search" value="{{ query }}" style="background-color: #fff; color: #666;">
                        <label id="search_button" class="label-icon" for="search2"><i class="material-icons" style="color: #999;">search</i></label>
                      </div>
                    </a>
                    <ul class="right hide-on-med-and-down black-text text-darken-2">
                      <li class="search" style='margin-top: 5px; background-color: #eee; border-radius: 5px; border-radius: 5px; margin-right: 30px;'>
                        <form style="margin:0px; height: 85%; width: 350px;">
                             <span class="input-field">
                               <input id="search" type="search" placeholder="Search Writocraft" value="{{ query }}">
                               <label id="search_button" class="label-icon" for="search" style="cursor: pointer;"><i class="material-icons" style='line-height: 55px;color: #333;'>search</i></label>
                             </span>
                           </form>
                       </li>
                      
                        <li style="margin: 0px 20px">
                            <div class="switch">
                                <label style="font-size: 1.1rem; font-weight: 400;">
                                    Off
                                    <input type="checkbox" id="colortoggle">
                                    <span class="lever" style="margin: 0 10px;"></span>
                                    On
                                </label>
                            </div>
                        </li>
                        <li style="margin: 12px 20px">
                          <a href="/createblog" title="Create A Blog">
                            <button class="waves-effect waves-light btn" style="color: #000; letter-spacing: 1.5px; font-weight: 400; background-color:white; border: 1px solid #111; border-radius: 4px;">
                              Craft Your Words
                            </button>
                          </a>
                        </li>
                        <!--
                        <li style="margin: 0px 20px">
                            <span class="notify__wrapper">
                                <i class="fa fa-bell-o" id="notify" onclick="myFunction()" for="0" style="cursor: pointer; font-size: 20px; color: #fff;"> </i>
                                <div class="notify__content" id="content"  style=" max-height: 60vh; overflow: scroll;"> </div>
                            </span>
                        </li>
                        -->
                        <li style="margin: 0px 20px">
                          <a href="#" class='dropdown-trigg' data-target='dropdown-notify'><i class="fa fa-bell-o" style="line-height: 58px; padding: 0px 5px; color: #fff;" ></i></a>
                          <ul class='dropdown-content row'  id='dropdown-notify'>
                            
                          </ul>
                        </li>

                        {% if user.is_authenticated %}
                          <li><a href="/myprofile" title="My Profile">My Profile</a></li>
                        {% else %}
                          <li><a href="/signup" title="Sign Up">Sign Up</a></li>
                          <li><a href="/login" title="Login">Login</a></li>
                        {% endif %}
                        <li><a href="/">Home</a></li>
                        <li>
                          <a title="drop-trig" class='dropdown-trigger' href='#' data-target='dropdown1' style="outline: none;"><i class="fa fa-angle-down" style="line-height: 58px; padding: 0px 5px;" ></i></a>
                          <ul id='dropdown1' class='dropdown-content'>
                            {% if user.is_authenticated %}
                              <li><a title="password-change" href="{% url 'password_change' %}" style="color: #222;">Change Password</a></li>
                              <li><a title="team" href="/team" style="color: #222;">Our Team</a></li>
                              <li><a title="Logout" href="/logout" style="color: #222;">LogOut</a></li>
                            {% else %}
                              <li><a title="team" href="/team" style="color: #222;">Our Team</a></li>
                            {% endif %}
                            
                          </ul>
                        </li>
                              
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-links">
            <div class="">
                <ul style="height: 100vh; position: relative;">
                <div class=" center" >
                    <img alt="small logo for phone" src="/static/images/uploadsfile/logo-main-small.jpg" style="width:95px; margin: 10px">
                </div>  
                <li class=""><a title="home" href="/">Home</a></li>
                <li class=""> <a title="About Us" href="/#aboutus">About Us</a></li>
                {% if user.is_authenticated %}
                <li class=""><a title="My Profile" href="/myprofile" class="btn btn-large">My Profile</a></li>
                <li class="" style="position: absolute; bottom: 100px; margin-bottom: 25px; width: 100%; text-align: center;"><a title="Change password" href="{% url 'password_change' %}" class="">Change Password</a></li>
                <li class="" style="position: absolute; bottom: 50px; margin-bottom: 25px; width: 100%; text-align: center;"><a title="logout" href="/logout" class="">Sign Out</a></li>
                {% else %}
                  <li class=""><a title="Sign Up" href="/signup" class="btn btn-large">Sign Up</a></li>
                  <li class=""><a title="Login" href="/login" class="btn btn-large">Log In</a></li>
                {% endif %}
                <li class="" style="position: absolute; bottom: 0px; margin-bottom: 15px; width: 100%; "><a href="/contactus" title="Contact Us" class="btn" style="background-color: darkgray; font-weight: 600;">Contact Us</a></li>
                </ul>
            </div>
        </ul>

        {% csrf_token %}
        <div class="" style="z-index: 2; position:fixed; right: 0; width:100%; display: none;" id="notification">
            <div class="row">
                <div id="notifyinner" class="col l4 s12 offset-l7" style="max-height: 60vh; overflow: scroll;">
                </div>
            </div>
        </div>
        <script>

            // Delay Button display for effect
/*
document.addEventListener("DOMContentLoaded", function() {
  let box = document.getElementById("scale");
  setTimeout(function() {
    box.classList.add("scale-in");
  }, 500);
});
*/

// Help bold matching results
function boldString(str, find){
  var re = new RegExp(find, 'i');
  find = re.exec(str);
  return str.replace(re, '<b>'+find+'</b>');
}


            $(".switch").find("#colortoggle").on("change",function() {
                console.log("Working color");
                var value = $("body").attr('to');
                $("span").css("color", "");
                $("span").css("background-color", "");
                if (value == 0){
                    $("body").attr('style', 'background-color: #222 !important');
                    $("body").css("color", "#eee");
                    $("body").attr('to',1);
                }
                else{
                    $("body").attr('style', 'background-color: #fff !important');
                    $("body").css("color", "#000");
                    $("body").attr('to',0);
                }
            });
            function myFunction() {
                var value = $("#notify").attr('for');
                if (value == "0"){
                    $("#content").addClass("notify__click");
                    $("#notify").attr("for","1");
                }
                else{
                    $("#content").removeClass("notify__click");
                    $("#notify").attr("for","0");
                }
                
            }

            $(document).mouseup(function(e) 
            {
                if (!$("#notify,#content").is(e.target)) 
                {
                    $("#content").removeClass("notify__click");
                    $("#notify").attr("for","0");
                }
            });

            $(document).ready(function(){
                $('.sidenav').sidenav();
            });


            $(document).ready(function(){
                $('.parallax').parallax();
            });

            $(document).ready(function(){
                $.ajax({
                    type: 'POST',
                    url: '/notification/',
                    data: {
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(result){
                        var output = result['status'];
                        if (output == 200){
                            for (var i = 0; i < result['notification'].length ; i++){
                              var each_notification =  "<li><a style='color: #222 !important;'><div class='row' style='margin-bottom: 0px;'><div class='col s2'><img src='/media/profile/200/default.jpg/' style='width: 100%; border-radius: 50%;'></div><div class='col s10'><div style='font-size: 20px; margin-bottom: 5px'>"+result['notification'][i]['data']+"</div><div>"+result['notification'][i]['date']+"</div></div></div></a></li><li class='divider'></li>";
                              $("#dropdown-notify").append(each_notification);
                            }
                        }
                        else{
                            $("#dropdown-notify").append("<div class='collection' style='margin: 0px !important;'><a href='#' titile='no-notification' class='collection-item'><div class='badge'>No Notification Found</div></a></div>");
                        }
                    }
                })
            });

            $(document).ready(function(){
                var instance = M.Dropdown.getInstance($('#dropdown-notify'));
                if (instance.isOpen){
                  $.ajax({
                      type: 'POST',
                      url: '/hidenotification/',
                      data: {
                          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                      },
                      success: function(result){
                          var output = result['status'];
                      }
                  })

                }
            });


$(document).ready(function(){
    $('#search,#search2').keypress(function(e){
      query = $(this).val();
      if(e.keyCode==13 && query!=""){
        window.location.href = "/search/?q="+query;
        return false;
      }
    });
    $('#search_button,#search_button2').click(function(e){
      forval = $(this).attr("for");
      query = $("#"+forval).val();
      window.location.href = "/search/?q="+query;
    });
});

$('.dropdown-trigger').dropdown({coverTrigger:false, hover: true});

$('.dropdown-trigg').dropdown({coverTrigger:false, alignment: 'right', constrainWidth: false});
        </script>