{% include "navbar.html" %}
<style>
  p{
    font-size: 15px;
  }
  a{
    color: #3949ab;
  }
  .padding-small {
    padding: 0 2.5rem;
  }
  @media only screen and (max-width: 600px) {
      .padding-small {
        padding: 0 0.5rem;
      }
    }
    @media only screen and (max-width: 992px){
                .modal {
                    width: 90%;
                }
            }
</style>
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
  <body style="font-family: Muli,sans-serif; color: #6b6f82; background-color: #f6f6f6;">
  
  
                <!-- Modal Structure -->
                <div id="modal1" class="modal">

                  <div style="border-bottom: 1px solid rgba(0,0,0,0.1); position: absolute; top: 0;" class="modal-footer">
                      <h5 class="center">Your Followers</h5>
                  </div>
                  <div class="modal-content" style="height: 70vh; overflow:scroll; ">
                      <br><br>
                      {% for each in followers_list %}
                      <div class="row">
                          <div class="col m1 s3">
                              <img class="image" src="{{ each.src }}" style="width: 100%; border-radius: 50%;">

                          </div>
                          <div class="col m6 offset-m1 s5">
                              <a href="/@{{ each.username|urlencode }}" class="black-text" style="font-size: 1.4rem;">{{ each.name }}</a>
                          </div>
                          <div class="col m4 s4 center">
                              {% if each.is_followed == 0 %}
                                  <button for="{{ each.userid }}" id="fol_{{ each.userid }}" class="btn white black-text follow_btn" style="font-size: 0.8rem; padding: 0 6px;">Follow</button>
                              {% else %}
                                  <button for="{{ each.userid }}" id="fol_{{ each.userid }}" class="btn grey lighten-2 black-text follow_btn" style="font-size: 0.8rem; padding: 0 6px;">Followed</button>
                              {% endif %}
                          </div>
                      </div>
                      {% endfor %}
                  </div>
                  <div style="border-top: 1px solid rgba(0,0,0,0.1); position: absolute; bottom: 0;" class="modal-footer">
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                  </div>
                </div>
              <!-- /Modal Structure -->
              
                <!-- Modal Structure -->
                <div id="modal2" class="modal">

                  <div style="border-bottom: 1px solid rgba(0,0,0,0.1); position: absolute; top: 0;" class="modal-footer">
                      <h5 class="center">Your Followings</h5>
                  </div>
                  <div class="modal-content" style="height: 70vh; overflow:scroll; ">
                      <br><br>
                      {% for each in following_list %}
                      <div class="row">
                          <div class="col m1 s3">
                              <img class="image" src="{{ each.src }}" style="width: 100%; border-radius: 50%;">
                          </div>
                          <div class="col m6 offset-m1 s5">
                              <a href="/@{{ each.username|urlencode }}" class="black-text" style="font-size: 1.4rem;">{{ each.name }}</a>
                          </div>
                          <div class="col m4 s4 center">
                              {% if each.is_followed == 0 %}
                                  <button for="{{ each.userid }}" id="fol_{{ each.userid }}" class="btn white black-text follow_btn" style="font-size: 0.8rem; padding: 0 6px;">Follow</button>
                              {% else %}
                                  <button for="{{ each.userid }}" id="fol_{{ each.userid }}" class="btn grey lighten-2 black-text follow_btn" style="font-size: 0.8rem; padding: 0 6px;">Followed</button>
                              {% endif %}
                          </div>
                      </div>
                      {% endfor %}
                  </div>
                  <div style="border-top: 1px solid rgba(0,0,0,0.1); position: absolute; bottom: 0;" class="modal-footer">
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                  </div>
                </div>
              <!-- /Modal Structure -->
              
  
    <!-- BEGIN: Page Main-->
            <div class="">
              <div class="row">
                <img class="responsive-img" style="width: 100%;" src="/media/cover/org/{{ cover_image_src }}/?{{time_img}}">
              </div>
              <div>
                <div class="row">
                  <!-- User Profile Feed -->
                  <div class="col s12 m4 l3" style="padding: 0 2.5rem;">
                    <div class="row">
                      <div class="col s12 center">
                        <img class="responsive-img circle z-depth-5" width="120" src="/media/profile/200/{{ image_src }}/?{{time_img}}" alt="">
                        <br>
                      </div>
                    </div>

                    <div class="hide-on-med-and-up">
                      <div class="row" style="margin-bottom: 0px;">
                        <div class="col s12">
                          <h5 class="center">{{ fullname }}</h5>
                          <p>{{currentwork}} </p>
                        </div>
                      </div>
                      <div class="col s12 center">
                        <a class="btn dropdown-trigger waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown-settings-2"><span>Settings</span><i class="material-icons right">arrow_drop_down</i></a>
                        <ul class="dropdown-content" id="dropdown-settings-2" tabindex="0">
                          <li tabindex="0"><a class="grey-text text-darken-2" href="/editprofile">Edit Profile</a></li>
                          <li tabindex="0"><a class="grey-text text-darken-2" href="/photo_upload">Change Profile Picture</a></li>
                          <li tabindex="0"><a class="grey-text text-darken-2" href="/cover_photo_upload/">Change Cover Picture</a></li>
                          <li tabindex="0"><a class="grey-text text-darken-2" href="/education">Add Education</a></li>
                          <li tabindex="0"><a class="grey-text text-darken-2" href="/work">Add Work</a></li>
                          <li class="divider" tabindex="-1"></li>
                          <li tabindex="0"><a class="grey-text text-darken-2" href="/createblog">Write Blog</a></li>
                          <li class="divider" tabindex="-1"></li>
                          <li tabindex="0"><a class="grey-text text-darken-2" href="/contactus">Contact Us</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col s6">
                        <h6>Follower</h6>
                        <h5><a href="#" class=" modal-trigger" data-target="modal1">{{followers}}</a></h5>
                      </div>
                      <div class="col s6">
                        <h6>Following</h6>
                        <h5><a href="#" class=" modal-trigger" data-target="modal2">{{following}}</a></h5>
                      </div>
                    </div>
                    {% if description != '' and description != None %}
                    <hr>
                    <div class="row">
                      <div class="col s12">
                        <h6>About Me</h6>
                        <p>{{ description }}</p>
                      </div>
                    </div>
                    {% endif %}
                    {% if country != '' and country != None %}
                    <hr>
                    <div class="row">
                      <div class="col s12">
                        <p>Country:</p>
                        <p>{{ country }}</p>
                      </div>
                    </div>
                    {% endif %}
                    <!-- Work -->
                    <hr>
                    <div class="row">
                        <div class="col s12">
                          <h6>Work Experience</h6>
                        {% if work_num %}
                            {% for each in work %}
                                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" style="background-color: #e6e6e6; border-radius: 10px; padding: 0.5rem; margin: 5px 0px;">
                                    <span style="font-size: 1.1rem; color: #3949ab;">{{ each.role }} @ {{ each.company }}
                                        <a href="/editwork/{{ each.id }}"> 
                                            <span class="right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                        </a>
                                    </span>
                                    <br>
                                    <span style="font-size: 0.9rem; line-height: 25px;">
                                        {{ each.from_month|upper }} {{ each.from_year }} - 
                                        {% if each.present %}
                                            PRESENT
                                        {% else %}
                                            {{ each.to_month|upper }} {{ each.to_year }}
                                        {% endif %}
                                    </span>
                                    <br>
                                    <span style="font-size: 0.9rem; line-height: 22px;">{{ each.description }}</span>
                                </div>
                            {% endfor %}
                            <span style="font-size: 1.1rem; line-height: 25px;">Add More Details <a href="/work" class="blue-text" >Add</a></span>
                        {% else %}
                        <span style="font-size: 1.1rem; line-height: 25px;">Add Details <a href="/work" class="blue-text" >Add</a></span>
                        {% endif %}
                      </div>
                    </div>
                    <!-- /Work -->
                    <hr>
                    <!-- Education -->
                    <div class="row">
                      <div class="col s12">
                        <h6>Education</h6>
                      {% if education_num %}
                          {% for each in education %}
                              <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" style="background-color: #e6e6e6; border-radius: 10px; padding: 0.5rem; margin: 5px 0px;">
                                  <span style="font-size: 1.1rem; color: #3949ab;">{{ each.degree }} <span>in</span> {{ each.fieldofstudy }}
                                    <br>
                                    <span>{{ each.school }}</span>
                                    <a href="/editeducation/{{ each.id }}"> 
                                        <span class="right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    </a>
                                  </span>
                                  <br>
                                  <span style="font-size: 0.9rem; line-height: 25px;">
                                    {{ each.from_month|upper }} {{ each.from_year }} -  {{ each.to_month|upper }} {{ each.to_year }}
                                  </span>
                                  <br>
                                  <span style="font-size: 0.9rem; line-height: 22px;">{{ each.description }}</span>
                              </div>
                          {% endfor %}
                          <span style="font-size: 1.1rem; line-height: 25px;">Add More Details <a href="/education" class="blue-text" >Add</a></span>
                      {% else %}
                      <span style="font-size: 1.1rem; line-height: 25px;">Add Details <a href="/education" class="blue-text" >Add</a></span>
                      {% endif %}
                      </div>
                    </div>
                    <!-- /Education -->

                  </div>

                  <!-- User Post Feed -->
                  <div class="col s12 m8 l6 padding-small">
                    <div class="row">
                      <div class="card z-depth-0" id="feed">
                        <div class="card-content">

                          <div class="hide-on-small-only">
                            <div class="row">
                              <div class="col s10">
                                <h5>{{ fullname }}</h5>
                                <p>{{currentwork}} </p>
                              </div>
                              <div class="col s2 center">
                                  <a class="btn dropdown-trigger waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown-settings"><span>Settings</span><i class="material-icons right">arrow_drop_down</i></a>
                                  <ul class="dropdown-content" id="dropdown-settings" tabindex="0">
                                    <li tabindex="0"><a class="grey-text text-darken-2" href="/editprofile">Edit Profile</a></li>
                                    <li tabindex="0"><a class="grey-text text-darken-2" href="/photo_upload">Change Profile Picture</a></li>
                                    <li tabindex="0"><a class="grey-text text-darken-2" href="/cover_photo_upload/">Change Cover Picture</a></li>
                                    <li tabindex="0"><a class="grey-text text-darken-2" href="/education">Add Education</a></li>
                                    <li tabindex="0"><a class="grey-text text-darken-2" href="/work">Add Work</a></li>
                                    <li class="divider" tabindex="-1"></li>
                                    <li tabindex="0"><a class="grey-text text-darken-2" href="/createblog">Write Blog</a></li>
                                    <li class="divider" tabindex="-1"></li>
                                    <li tabindex="0"><a class="grey-text text-darken-2" href="/contactus">Contact Us</a></li>
                                  </ul>
                              </div>
                            </div>
                          </div>

                          <div class="row">

                            {% for each in blogs %}
                            <div class="col s1 circle" style="padding: 0 0;">
                              <a href="#"><img class="responsive-img circle" src="/media/profile/100/{{ image_src }}/?{{time_img}}" alt=""></a>
                            </div>
                            <div class="col s11">
                              <div class="col m10 s8 ">
                                <a href="#">
                                  <p>{{ fullname }} <!-- <span><i class="material-icons" style="vertical-align: bottom;">access_time</i> 1 days</span></p>-->
                                </a>
                              </div>
                              <div class="col m2 s4 center">
                                <a class="btn dropdown-trigger waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown-settings-B{{each.blogid}}"><i class="material-icons">settings</i><i class="material-icons">arrow_drop_down</i></a>
                                <ul class="dropdown-content" id="dropdown-settings-B{{each.blogid}}" tabindex="0">
                                  <li tabindex="0"><a class="grey-text text-darken-2" href="/@{{ username|urlencode }}/{{ each.url|urlencode }}/">View</a></li>
                                  <li class="divider" tabindex="-1"></li>
                                  <li tabindex="0"><a class="grey-text text-darken-2" href="/edit/{{ each.url|urlencode }}/">Edit</a></li>
                                </ul>
                              </div>
                              <div class="row">
                                <div class="col s12">
                                  <div class="card z-depth-2" style="border-radius: 10px;">
                                    <div class="card-image" style="text-align: -webkit-center; border-bottom: 1px solid #ccc !important;">
                                      <img src="{{ each.img_src }}" style="max-height: 390px; max-width: 100%; width: unset;">
                                    </div>
                                    <div class="card-content">
                                      <h6 style="text-transform: uppercase; font-weight: 900;"><a href="/@{{ username|urlencode }}/{{ each.url|urlencode }}/">{{ each.heading|truncatechars:100 }}</a></h6>
                                      <p>{{ each.cleaned_data|truncatechars:100 }}</p>
                                    </div>
                                  </div>
                                  <div class="social-icon">
                                    <span style="font-size: 15px; margin: 0px 5px;"><i class="material-icons" style="vertical-align: bottom;">remove_red_eye</i> {{each.viewsnum}} </span>
                                    <span style="font-size: 15px; margin: 0px 5px;"><i class="material-icons" style="vertical-align: bottom;">favorite_border</i> {{each.likes_count}} </span> 
                                    <span style="font-size: 15px; margin: 0px 5px;"><i class="material-icons" style="vertical-align: bottom;">chat_bubble_outline</i> {{each.comments_count}} </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endfor %}

                          </div>
                          <hr class="mt-5">

                          {% if blog_num %}
                          <span style="font-size: 1.1rem; line-height: 25px;"> <a href="/createblog" class="blue-text" >Write a New Blog</a></span>
                          {% else %}
                          <span style="font-size: 1.1rem; line-height: 25px;"> Time to start your blog count. <a href="/createblog" class="blue-text">Write Now</a></span>
                          {% endif %}

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Right Part -->
                  <div class="col s12 m12 l3 hide-on-med-and-down" style="padding: 0 2.5rem;">
                    <div class="row mt-5">
                      <div class="col s12">
                        <h6>Today Highlight</h6>
                        <img class="responsive-img card-border z-depth-2 mt-2" src="https://writocraft.com/media/images/blogimgxT/writocraft_49_eiz442f26i.jpg"
                          alt="">
                        <p><a href="https://writocraft.com/@writocraft/Top-10-Unknown-Conspiracies/">Top 10 Unknown Conspiracies</a></p>
                        <p>The earth is flat, fake landing on the moon, you may have heard of many such unknown conspiracies in your daily life. These are several other conspiracies ...</p>
                      </div>
                    </div>
                    <hr class="mt-5">
                  </div>
                  <!-- / Right Part -->
                </div>
              </div>
            </div>
<script>
  $(document).ready(function(){
    $('.dropdown-trigger').dropdown({coverTrigger:false});

    $('#modal1').modal({'endingTop':'6%'});
    $('#modal2').modal({'endingTop':'6%'});
  });

  $(document).ready(function(){
                $(".follow_btn").click(function(){
                    forval = $(this).attr("for");
                    $.ajax({
                        type: 'POST',
                        url: '/followpush/',
                        data: {
                            profile: forval,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(result){
                            if (result['status']==200){
                                btn_name = "#fol_"+forval;
                                console.log($(btn_name))
                                if (result['stat']==0){
                                    $(btn_name).text("Follow");
                                    $(btn_name).removeClass("grey lighten-2 black-text");
                                    $(btn_name).addClass("white black-text");
                                }
                                else{
                                    $(btn_name).text("Followed");
                                    $(btn_name).removeClass("white black-text");
                                    $(btn_name).addClass("grey lighten-2 black-text");
                                }
                            }
                        }
                    });
                });
            });
            
</script>
  </body>
</html>