{% include "navbar.html" %}
<style>
  p{
    font-size: 15px;
  }
  a{
    color: #3949ab;
  }
  .padding-small {
    padding: 0 2.5rem;
  }
  @media only screen and (max-width: 600px) {
      .padding-small {
        padding: 0 0.5rem;
      }
    }
    
</style>
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
  <body style="font-family: Muli,sans-serif; color: #6b6f82; background-color: #f6f6f6;">
    <!-- BEGIN: Page Main-->
            <div class="">
              <div class="row">
                <img class="responsive-img" style="width: 100%;" src="/media/cover/org/{{ cover_image_src }}/?{{time_img}}">
              </div>
              <div>
                <div class="row">
                  <!-- User Profile Feed -->
                  <div class="col s12 m4 l3" style="padding: 0 2.5rem;">
                    <div class="row">
                      <div class="col s12 center">
                        <img class="responsive-img circle z-depth-5" width="120" src="/media/profile/200/{{ image_src }}/?{{time_img}}" alt="">
                        <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s6">
                        <h6>Follower</h6>
                        <h5><a href="#">{{followers}}</a></h5>
                      </div>
                      <div class="col s6">
                        <h6>Following</h6>
                        <h5><a href="#">{{following}}</a></h5>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col s12">
                        <h6>About Me</h6>
                        <p>{{ description }}</p>
                      </div>
                    </div>
                    {% if country != '' and country != None %}
                    <hr>
                    <div class="row">
                      <div class="col s12">
                        <p>Country:</p>
                        <p>{{ country }}</p>
                      </div>
                    </div>
                    {% endif %}
                    <!-- Work -->
                    <div class="row">
                        <div class="col s12">
                          <h6>Work Experience</h6>
                        {% if work_num %}
                            {% for each in work %}
                                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" style="background-color: #e6e6e6; border-radius: 10px; padding: 0.5rem; margin: 5px 0px;">
                                    <span style="font-size: 1.1rem; color: #3949ab;">{{ each.role }} @ {{ each.company }}
                                        <a href="/editwork/{{ each.id }}"> 
                                            <span class="right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                        </a>
                                    </span>
                                    <br>
                                    <span style="font-size: 0.9rem; line-height: 25px;">
                                        {{ each.from_month|upper }} {{ each.from_year }} - 
                                        {% if each.present %}
                                            PRESENT
                                        {% else %}
                                            {{ each.to_month|upper }} {{ each.to_year }}
                                        {% endif %}
                                    </span>
                                    <br>
                                    <span style="font-size: 0.9rem; line-height: 22px;">{{ each.description }}</span>
                                </div>
                            {% endfor %}
                            <span style="font-size: 1.1rem; line-height: 25px;">Add More Details <a href="/work" class="blue-text" >Add</a></span>
                        {% else %}
                        <span style="font-size: 1.1rem; line-height: 25px;">Add Details <a href="/work" class="blue-text" >Add</a></span>
                        {% endif %}
                      </div>
                    </div>
                    <!-- /Work -->

                    <!-- Education -->
                    <div class="row">
                      <div class="col s12">
                        <h6>Education</h6>
                      {% if education_num %}
                          {% for each in education %}
                              <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" style="background-color: #e6e6e6; border-radius: 10px; padding: 0.5rem; margin: 5px 0px;">
                                  <span style="font-size: 1.1rem; color: #3949ab;">{{ each.degree }} <span>in</span> {{ each.fieldofstudy }}
                                    <br>
                                    <span>{{ each.school }}</span>
                                    <a href="/editeducation/{{ each.id }}"> 
                                        <span class="right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    </a>
                                  </span>
                                  <br>
                                  <span style="font-size: 0.9rem; line-height: 25px;">
                                    {{ each.from_month|upper }} {{ each.from_year }} -  {{ each.to_month|upper }} {{ each.to_year }}
                                  </span>
                                  <br>
                                  <span style="font-size: 0.9rem; line-height: 22px;">{{ each.description }}</span>
                              </div>
                          {% endfor %}
                          <span style="font-size: 1.1rem; line-height: 25px;">Add More Details <a href="/education" class="blue-text" >Add</a></span>
                      {% else %}
                      <span style="font-size: 1.1rem; line-height: 25px;">Add Details <a href="/education" class="blue-text" >Add</a></span>
                      {% endif %}
                      </div>
                    </div>
                    <!-- /Education -->

                  </div>

                  <!-- User Post Feed -->
                  <div class="col s12 m8 l6 padding-small">
                    <div class="row">
                      <div class="card z-depth-0" id="feed">
                        <div class="card-content">
                          <div class="row">
                            <div class="col s12">
                              <h5>{{ fullname }}</h5>
                              <p>{{currentwork}} </p>
                            </div>
                          </div>

                          <div class="row">

                            {% for each in blogs %}
                            <div class="col s1 circle" style="padding: 0 0;">
                              <a href="#"><img class="responsive-img circle" src="/media/profile/100/{{ image_src }}/?{{time_img}}" alt=""></a>
                            </div>
                            <div class="col s11">
                              <a href="#">
                                <p>{{ fullname }} <!-- <span><i class="material-icons" style="vertical-align: bottom;">access_time</i> 1 days</span></p>-->
                              </a>
                              <div class="row">
                                <div class="col s12">
                                  <div class="card z-depth-2" style="border-radius: 10px;">
                                    <div class="card-image" style="text-align: -webkit-center; border-bottom: 1px solid #ccc !important;">
                                      <img src="{{ each.img_src }}" style="max-height: 390px; max-width: 100%; width: unset;">
                                    </div>
                                    <div class="card-content">
                                      <h6 style="text-transform: uppercase; font-weight: 900;"><a href="/@{{ username|urlencode }}/{{ each.url|urlencode }}/">{{ each.heading|truncatechars:100 }}</a></h6>
                                      <p>{{ each.cleaned_data|truncatechars:100 }}</p>
                                    </div>
                                  </div>
                                  <div class="social-icon">
                                    <span style="font-size: 15px; margin: 0px 5px;"><i class="material-icons" style="vertical-align: bottom;">remove_red_eye</i> {{each.viewsnum}} </span>
                                    <span style="font-size: 15px; margin: 0px 5px;"><i class="material-icons" style="vertical-align: bottom;">favorite_border</i> {{each.likes_count}} </span> 
                                    <span style="font-size: 15px; margin: 0px 5px;"><i class="material-icons" style="vertical-align: bottom;">chat_bubble_outline</i> {{each.comments_count}} </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endfor %}

                          </div>
                          <hr class="mt-5">

                          {% if blog_num %}
                          <span style="font-size: 1.1rem; line-height: 25px;"> <a href="/createblog" class="blue-text" >Write a New Blog</a></span>
                          {% else %}
                          <span style="font-size: 1.1rem; line-height: 25px;"> Time to start your blog count. <a href="/createblog" class="blue-text">Write Now</a></span>
                          {% endif %}

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Right Part -->
                  <div class="col s12 m12 l3 hide-on-med-and-down" style="padding: 0 2.5rem;">
                    <div class="row mt-5">
                      <div class="col s12">
                        <h6>Today Highlight</h6>
                        <img class="responsive-img card-border z-depth-2 mt-2" src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/gallery/post-3.png"
                          alt="">
                        <p><a href="#">Meeting with clients</a></p>
                        <p>Crediting isn’t required, but is appreciated and allows photographers to gain exposure. Copy the text
                          below or embed a credit badge</p>
                      </div>
                    </div>
                    <hr class="mt-5">
                  </div>
                  <!-- / Right Part -->
                </div>
              </div>
            </div>

  </body>
</html>