{% include "navbar.html" %}
<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <!-- TITLE OF SITE-->
        <title> {{ fullname }} | WritoCraft </title>
        
        <!-- META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content=" Profile of {{ fullname }}">
        <meta name="author" content="{{ fullname }}">
        <meta name="keywords" content="{{ keywords }}">
        
        <!-- FAVICON -->
        <link rel="icon" href="assets/images/favicon.ico">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-icon-114x114.png">

        <!-- ========================================
                Stylesheets
        ==========================================--> 
        
        <!-- MATERIALIZE CORE CSS -->
        <link href="/static/css/materialize.min.css" rel="stylesheet">
        

        <!-- ADDITIONAL CSS -->
        <link rel="stylesheet" href="/static/css/animate.css">
        

        <!-- FONTS -->
        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>
        

        <!--FONTAWESOME CSS-->
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
        

        <!-- CUSTOM STYLE -->
        <link href="/static/css/style-user.css" rel="stylesheet">
        

        <!-- RESPONSIVE CSS-->
        <link href="/static/css/responsive.css" rel="stylesheet">

        <!-- COLORS -->        
        <link rel="alternate stylesheet" href="/static/css/colors/red.css" title="red">
        <link rel="alternate stylesheet" href="/static/css/colors/purple.css" title="purple">
        <link rel="alternate stylesheet" href="/static/css/colors/orange.css" title="orange">
        <link rel="alternate stylesheet" href="/static/css/colors/green.css" title="green">
        <link rel="stylesheet" href="/static/css/colors/lime.css" title="lime">

        
        <!-- STYLE SWITCH STYLESHEET ONLY FOR DEMO -->
        <link rel="stylesheet" href="/static/css/demo.css">
        
        <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif] -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
        <style>
            .token{
                letter-spacing: 1.1px;
                background-color: #b2f1ff;
                padding: 6px 12px;
                border-radius: 15px;
                color: #222f3e;
                margin-right: 2px;
            }
            .sidebar .info{
                border-bottom: 1px solid #111;
            }
            @media only screen and (min-width: 993px){
                .container {
                    width: 80%;
                }
            }
            body{
                text-align: left;
            }
        </style>
    </head>
    <body>

                <!-- Modal Structure -->
                <div id="modal1" class="modal" >
                    <div class="modal-content">
                        <div class="row">
                            <h4 class="center">Please Login</h4>
                            <div class="col m6">
                                <div>
                                    <img class="responsive-img" src="/static/images/uploadsfile/mirage.png">
                                </div>
                            </div>
                            <div class="col m6">
                                <div>
                                    <strong><div id="errorbox" class="center" style="color: red; font-size: 20px;"></div></strong>
                                    {% csrf_token %}
                                    <p>
                                        <strong><label style="font-size: 15px; color: #222; letter-spacing: 1;">Email:</label></strong>
                                        <input type="email" id="useremail" name="email" maxlength="254" required autocomplete="off">
                                    </p>
                                    <p>
                                        <strong><label style="font-size: 15px; color: #222; letter-spacing: 1;">Password:</label></strong>
                                        <input type="password" id="userpassword" placeholder="Create password" name="password" required autocomplete="off">
                                    </p>                            
                                    <div class="center">
                                        <button id="loginbutton" class=" btn-large black" type="submit">Login</button>
                                    </div>    
                                    <p class="center"> New User? <a href="/signup"> Sign Up </a> </p>                                                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal Structure -->
        

        <!-- Start Container-->
        <div class="container">
            <!-- row -->
            <div class="row" style=" margin-left: 0.75rem !important; margin-right: 0.75rem !important;">
            <!-- =========================================
                           SIDEBAR   
            ==========================================-->
                <!-- Start Sidebar -->
                <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar" style="background-color: #2f3640;">
                    <!--  Sidebar row -->
                    <div class="row">                      
                        <!--  top section   -->
                        <div class="heading">                            
                            <!-- ====================
                                      IMAGE   
                            ==========================-->
                            <div class="feature-img">
                                <img src="/media/profile/org/{{ image_src }}" class="responsive-img" alt="">
                            </div>                            
                         
                            <!-- ========================================
                                       NAME AND TAGLINE
                            ==========================================-->
                                               
                        </div>
                        <div class="title col s12 m12 l12 center" style="padding: 15px 5px;">   
                            <h2 style="text-shadow: 2px 2px 4px #000 !important;">{{ fullname }}</h2> <!-- title name -->
                            <span style="text-shadow: 2px 1px 2px #000 !important;">{{currentwork}}</span>  <!-- tagline -->
                        </div>  
                        <div style="text-align: center;">
                            <button class="btn waves-effect waves-light white black-text" type="submit" name="action" value='{{ followcheck }}' style="text-transform: none;" id="followbutton">

                                <span id="follow" >
                                    <i class="fa fa-user-plus" style="font-size: 1.1rem;"></i>ollow | <span class="follownum">{{followers}}</span>
                                </span>
                                <span id="followed" style="display: none;"> 
                                    <i class="fa fa-user-plus" style="font-size: 1.1rem;"></i>ollowed <i class="fa fa-check" style="font-size: 1.1rem;"></i> | <span class="follownum">{{followers}}</span>
                                </span>
                            </button>
                        </div>
                         <!-- sidebar info -->
                         {% if description != '' and description != None %}
                        <div class="col l12 m12 s12 sort-info sidebar-item">
                            <div class="row">                               
                                <div class="col m12 s12 l3 icon"> <!-- icon -->
                                   <i class="fa fa-user"></i>
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s" > <!-- text -->
                                    <div class="section-item-details">
                                        <p>{{ description }}</p>
                                    </div>             
                                </div>
                            </div>         
                        </div>
                        {% endif %}
                        <!-- ADDRESS  -->
                        {% if country != '' and country != None %}
                        <div class="col l12 m12 s12  address sidebar-item ">
                            <div class="row" style="margin-bottom: 0px;">                                
                                <div class="col l3 m12  s12 icon">
                                    <i class="fa fa-home"></i> <!-- icon -->
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a4" data-wow-delay="0.4s" style="border-bottom: none;">
                                    <div class="section-item-details">
                                        <div class="address-details"> <!-- address  -->
                                            <h4 style="line-height: 28pt;">Country: {{country}}</h4> 
                                        </div>                         
                                    </div>
                                </div>
                            </div>            
                        </div>
                        {% endif %}
                    </div>   <!-- end row -->
                </aside><!-- end sidebar -->

                <!-- =========================================
                   Work experiences
                ==========================================-->

                <section class="col s12 m12 l8 section">
                    <div class="row">
                        {% if work_num %}
                        <div class="section-wrapper z-depth-1">                            
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-suitcase"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                                <h2>Work Experience</h2>
                                
                                    {% for each in work %}
                                        <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                            <h3>{{ each.role }}<span> @{{ each.company }}</span>
                                            </h3>
                                            <span>
                                                {{ each.from_month|upper }} {{ each.from_year }} - 
                                                {% if each.present %}
                                                    PRESENT
                                                {% else %}
                                                    {{ each.to_month|upper }} {{ each.to_year }}
                                                {% endif %}
                                            </span>
                                            <p>{{ each.description }}</p>
                                        </div>
                                    {% endfor %}
                            </div>                            
                        </div>
                        {% endif %}

                        <!-- ========================================
                         Education 
                        ==========================================-->
                        {% if education_num %}
                        <div class="section-wrapper z-depth-1">
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                                <h2>Education </h2>
                                {% for each in education %}
                                    <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                        <h3>{{ each.degree }} <span>in</span> {{ each.fieldofstudy }}
                                            <br>
                                            <span>{{ each.school }}</span>
                                        </h3>
                                        <span>
                                            {{ each.from_month|upper }} {{ each.from_year }} -  {{ each.to_month|upper }} {{ each.to_year }}
                                        </span>
                                        <p>{{ each.description }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}


                        <!-- ========================================
                              Intertests 
                        ==========================================-->
                        {% if interest_num %}
                        <div class="section-wrapper z-depth-1">                           
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-plane"></i>
                            </div>
                            <div class="interests col s12 m12 l10 wow fadeIn" data-wow-delay="0.1s"> 
                                <h2>Interestes </h2>
                                {% for each in interest_list %}
                                    <span class="token">{{ each }}</span>
                                {% endfor %}
                            </div>                          
                        </div>
                        {% endif %}

                        <!-- ========================================
                              Intertests 
                        ==========================================-->

                        <div class="section-wrapper z-depth-1">                           
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-th-large"></i>
                            </div>
                            <div class="interests col s12 m12 l10">
                                <h2>BLOGS </h2>
                            </div>
                            <div class="interests col s12 m12 l12 wow fadeIn" data-wow-delay="0.1s"> 
                                <div id="masonry-grid" class="row">
                                    {% for each in blogs %}
                                        <div class="col s12 m6">
                                            <div class="card">
                                                <div class="card-image" style="text-align: center; height: 240px; background-color: fff; border-bottom: 1px solid #ccc;">
                                                    <img src="{{ each.img_src }}" style="max-height: 240px; max-width: 100%; vertical-align: middle; height: auto; width: auto; margin: auto;" >
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title" style="overflow: hidden; height: 60px;">{{ each.heading|truncatechars:40 }}</span>
                                                    <p style="overflow: hidden; height: 45px;">{{ each.cleaned_data|truncatechars:90 }}</p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="/@{{ username|urlencode }}/{{ each.url|urlencode }}/">View Now</a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>                          
                        </div>

                        <!-- =======================================
                          portfolio Website
                        ==========================================-->

                    </div><!-- end row -->
                </section><!-- end section -->
            </div> <!-- end row -->
        </div>  <!-- end container -->
        
 <!--=====================
                JavaScript
        ===================== -->
        <!-- Jquery core js-->
        <script src="/static/js/jquery.min.js"></script>
        
        <!-- materialize js-->
        <script src="/static/js/materialize.min.js"></script>
        
        <!-- wow js-->
        <script src="/static/js/wow.min.js"></script>
        
        <!-- Map api -->
        <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
        
        <!-- Masonry js-->
        <script src="/static/js/masonry.js"></script>

        <script src="/static/js/validator.min.js"></script>
        
        <!-- Customized js -->
        <script src="/static/js/init.js"></script>
    
        <!-- =========================================================
            STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
        ===========================================================-->
        
        <!-- Style switter js -->
        <script src="/static/js/styleswitcher.js"></script>
        <script>
            $(document).ready(function(){
                
                $("#followbutton").click(function(){
                    var loginned = {{ loginned }};
                    if (loginned == 0){
                        $('#modal1').modal();
                        $('#modal1').modal('open');
                        return 0;
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/followplus/',
                        async: false,
                        data: {
                            profile: '{{username}}',
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(result){
                            if (result['status']==200){
                                if (result['stats'] == 1){
                                    $("#followed").show();
                                    $("#follow").hide();
                                    $(".follownum").text(result['follownum']);
                                }
                                else{
                                    $("#follow").show();
                                    $("#followed").hide();
                                    $(".follownum").text(result['follownum']);
                                }
                            }
                        }
                    });
                });
            });
</script>        
    </body>
</html>
