{% include "navbar.html" %}
{% if status == 200 %}

<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="/static/css/style-user.css" rel="stylesheet" type='text/css'>

        <style type='text/css'>
            .token{
                letter-spacing: 1.1px;
                background-color: #b2f1ff;
                padding: 6px 12px;
                border-radius: 15px;
                color: #222f3e;
                margin-right: 2px;
            }
            .sidebar .info{
                border-bottom: 1px solid #111;
            }
            @media only screen and (min-width: 993px){
                .container {
                    width: 80%;
                }
            }
            body{
                text-align: left;
                color: #555;
            }
            .row1{
                margin-left: 0.75rem !important; 
                margin-right: 0.75rem !important;
            }
            .m-name{
                text-shadow: 2px 2px 4px #000 !important;
            }
            .w-name{
                text-shadow: 2px 1px 2px #000 !important;
            }
            .mg-b{
                margin-bottom: 0px;
            }
            .card-image-div{
                text-align: center; 
                height: 240px; 
                border-bottom: 1px solid #ccc;
            }
            .card-image-main{
                max-height: 240px; 
                max-width: 100%; 
                vertical-align: middle; 
                height: auto; 
                width: auto !important; 
                margin: auto !important;
            }
            .border-bottom-n{
                border-bottom: none;
            }
            .lh-28{
                line-height: 28pt;
            }
            .card-pd{
                padding: 15px 24px 5px 24px !important;
            }
            .card-t-box{
                overflow: hidden; 
                height: 60px;
            }
            .card-p-box{
                overflow: hidden; height: 45px;
            }
        </style>
        
    </head>
    <body>

                <!-- Modal Structure -->
                <div id="modal1" class="modal" >
                    <div class="modal-content">
                        <div class="row">
                            <h4 class="center">Please Login</h4>
                            <div class="col m6">
                                <div>
                                    <img class="responsive-img" src="/static/images/uploadsfile/mirage.png">
                                </div>
                            </div>
                            <div class="col m6">
                                <div>
                                    <strong><div id="errorbox" class="center" style="color: red; font-size: 20px;"></div></strong>
                                    {% csrf_token %}
                                    <p>
                                        <strong><label style="font-size: 15px; color: #222; letter-spacing: 1;">Email:</label></strong>
                                        <input type="email" id="useremail" name="email" placeholder="Enter your E-mail" maxlength="254" required autocomplete="off">
                                    </p>
                                    <p>
                                        <strong><label style="font-size: 15px; color: #222; letter-spacing: 1;">Password:</label></strong>
                                        <input type="password" id="userpassword" placeholder="Enter your Password" name="password" required autocomplete="off">
                                    </p>                            
                                    <div class="center">
                                        <button id="loginbutton" class=" btn-large black" type="submit">Login</button>
                                    </div>    
                                    <p class="center"> New User? <a href="/signup" style="color: #000;"> Sign Up Here </a> </p>                                                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal Structure -->
        

        <!-- Start Container-->
        <div class="container">
            <!-- row -->
            <div class="row row1" >
            <!-- =========================================
                           SIDEBAR   
            ==========================================-->
                <!-- Start Sidebar -->
                <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar" style="background-color: #2f3640;">
                    <!--  Sidebar row -->
                    <div class="row">                      
                        <!--  top section   -->
                        <div class="heading">                            
                            <!-- ====================
                                      IMAGE   
                            ==========================-->
                            <div class="feature-img">
                                <img src="/media/profile/org/{{ image_src }}" class="responsive-img" alt="">
                            </div>                            
                         
                            <!-- ========================================
                                       NAME AND TAGLINE
                            ==========================================-->
                                               
                        </div>
                        <div class="title col s12 m12 l12 center" style="padding: 15px 5px;">   
                            <h2 class="m-name">{{ fullname }}</h2> <!-- title name -->
                            <span class="w-name">{{currentwork}}</span>  <!-- tagline -->
                        </div>  
                        <div style="text-align: center;">
                            <button class="btn waves-effect waves-light white black-text" type="submit" name="action" value='{{ followcheck }}' style="text-transform: none;" id="followbutton">
                                <span id="follow" >
                                    <i class="fa fa-user-plus" style="font-size: 1.1rem;"></i>ollow | <span class="follownum">{{followers}}</span>
                                </span>
                                <span id="followed" style="display: none;"> 
                                    <i class="fa fa-user-plus" style="font-size: 1.1rem;"></i>ollowed <i class="fa fa-check" style="font-size: 1.1rem;"></i> | <span class="follownum">{{followers}}</span>
                                </span>
                            </button>
                        </div>
                         <!-- sidebar info -->
                         {% if description != '' and description != None %}
                        <div class="col l12 m12 s12 sort-info sidebar-item">
                            <div class="row">                               
                                <div class="col m12 s12 l3 icon"> <!-- icon -->
                                   <i class="fa fa-user"></i>
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s" > <!-- text -->
                                    <div class="section-item-details">
                                        <p>{{ description }}</p>
                                    </div>             
                                </div>
                            </div>         
                        </div>
                        {% endif %}
                        <!-- ADDRESS  -->
                        {% if country != '' and country != None %}
                        <div class="col l12 m12 s12  address sidebar-item ">
                            <div class="row" style="margin-bottom: 0px;">                                
                                <div class="col l3 m12  s12 icon">
                                    <i class="fa fa-home"></i> <!-- icon -->
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a4" data-wow-delay="0.4s" style="border-bottom: none;">
                                    <div class="section-item-details">
                                        <div class="address-details"> <!-- address  -->
                                            <h4 class="lh-28">Country: {{country}}</h4> 
                                        </div>                         
                                    </div>
                                </div>
                            </div>            
                        </div>
                        {% endif %}
                    </div>   <!-- end row -->
                </aside><!-- end sidebar -->

                <!-- =========================================
                   Work experiences
                ==========================================-->

                <section class="col s12 m12 l8 section">
                    <div class="row">
                        {% if work_num %}
                        <div class="section-wrapper z-depth-1">                            
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-suitcase"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                                <h2>Work Experience</h2>
                                
                                    {% for each in work %}
                                        <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                            <h3>{{ each.role }}<span> @{{ each.company }}</span>
                                            </h3>
                                            <span>
                                                {{ each.from_month|upper }} {{ each.from_year }} - 
                                                {% if each.present %}
                                                    PRESENT
                                                {% else %}
                                                    {{ each.to_month|upper }} {{ each.to_year }}
                                                {% endif %}
                                            </span>
                                            <p>{{ each.description }}</p>
                                        </div>
                                    {% endfor %}
                            </div>                            
                        </div>
                        {% endif %}

                        <!-- ========================================
                         Education 
                        ==========================================-->
                        {% if education_num %}
                        <div class="section-wrapper z-depth-1">
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                                <h2>Education </h2>
                                {% for each in education %}
                                    <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                        <h3>{{ each.degree }} <span>in</span> {{ each.fieldofstudy }}
                                            <br>
                                            <span>{{ each.school }}</span>
                                        </h3>
                                        <span>
                                            {{ each.from_month|upper }} {{ each.from_year }} -  {{ each.to_month|upper }} {{ each.to_year }}
                                        </span>
                                        <p>{{ each.description }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}


                        <!-- ========================================
                              Intertests 
                        ==========================================-->
                        {% if interest_num %}
                        <div class="section-wrapper z-depth-1">                           
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-plane"></i>
                            </div>
                            <div class="interests col s12 m12 l10 wow fadeIn" data-wow-delay="0.1s"> 
                                <h2>Interestes </h2>
                                {% for each in interest_list %}
                                    <span class="token">{{ each }}</span>
                                {% endfor %}
                            </div>                          
                        </div>
                        {% endif %}

                        <!-- ========================================
                              Intertests 
                        ==========================================-->

                        <div class="section-wrapper z-depth-1">                           
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-th-large"></i>
                            </div>
                            <div class="interests col s12 m12 l10">
                                <h2>BLOGS </h2>
                            </div>
                            <div class="interests col s12 m12 l12 wow fadeIn" data-wow-delay="0.1s"> 
                                <div id="masonry-grid" class="row">
                                    {% for each in blogs %}
                                        <div class="col s12 m6">
                                            <div class="card">
                                                <div class="card-image card-image-div">
                                                    <img src="{{ each.img_src }}" class="card-image-main" >
                                                </div>
                                                <div class="card-content card-pd">
                                                    <span class="card-title card-t-box">{{ each.heading|truncatechars:40 }}</span>
                                                    <p class="card-p-box">{{ each.cleaned_data|truncatechars:90 }}</p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="/@{{ username|urlencode }}/{{ each.url|urlencode }}/">View Now</a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>                          
                        </div>

                        <!-- =======================================
                          portfolio Website
                        ==========================================-->

                    </div><!-- end row -->
                </section><!-- end section -->
            </div> <!-- end row -->
        </div>  <!-- end container -->
        
 <!--=====================
                JavaScript
        ===================== -->
        <!-- Jquery core js-->
        <script src="/static/js/jquery.min.js"></script>
        
        <!-- materialize js-->
        <script src="/static/js/materialize.min.js"></script>
        
        <!-- wow js-->
        <script src="/static/js/wow.min.js"></script>
        
        <!-- Map api -->
        <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
        
        <!-- Masonry js-->
        <script src="/static/js/masonry.js"></script>

        <script src="/static/js/validator.min.js"></script>
        
        <!-- Customized js -->
        <script src="/static/js/init.js"></script>
    
        <!-- =========================================================
            STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
        ===========================================================-->
        
        <!-- Style switter js -->
        <script src="/static/js/styleswitcher.js"></script>
        <script>

        $(document).on('click', '#loginbutton', function(){
            var email = $("#useremail").val();
            var password = $("#userpassword").val();
            $.ajax({
                type: 'POST',
                url: '/login/',
                data: {
                    email: email,
                    password: password,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(result){
                    status = result['status']
                    if (status == 200){
                        $('#modal1').modal('close');
                        location.reload(true);
                    }
                    else{
                        $('#errorbox').text(result['login_error']);
                    }
                }
            });
        });
            
            $(document).ready(function(){
                    
                var value = $('#followbutton').val();
                if (value == 0){
                    $("#followed").hide();
                    $("#follow").show();
                }
                else{
                    $("#followed").show();
                    $("#follow").hide();
                }

                
                $("#followbutton").click(function(){
                    var loginned = {{ loginned }};
                    if (loginned == 0){
                        $('#modal1').modal();
                        $('#modal1').modal('open');
                        return 0;
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/followplus/',
                        async: false,
                        data: {
                            profile: '{{username}}',
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(result){
                            if (result['status']==200){
                                if (result['stats'] == 1){
                                    $("#followed").show();
                                    $("#follow").hide();
                                    $(".follownum").text(result['follownum']);
                                }
                                else{
                                    $("#follow").show();
                                    $("#followed").hide();
                                    $(".follownum").text(result['follownum']);
                                }
                            }
                        }
                    });
                });
            });
</script>        
    </body>
</html>
{% elif status == 404 %}
    <div class="row">
        <div class="col m8 offset-m2 s12">
            <img src="/static/images/uploads/SORRY-no-user.jpg" width="100%">
            <div class="center">
                For Contact Form  - <a href="/contactus">Click Here</a>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col m8 offset-m2 s12">
            <img src="/static/images/uploads/SORRY-error.jpg" width="100%">
            <div class="center">
                For Contact Form  - <a href="/contactus">Click Here</a>
            </div>
        </div>
    </div>
{% endif %}