{% include "navbar.html" %}
{% load static from staticfiles %}
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <style>
        @media only screen and (min-width: 993px){
            .container {
                width: 80%;
            }
        }
        a{
            color: #222;
        }
        a:hover{
            color: #039be5;
        }
        .list-icon{
            display: inline-block; 
            padding-right: 5px; 
            padding-left: 5px; 
            font-size: 12px;
        }
        .a-link{
            color: #999;
        }
        .a-link:hover{
            color: #039be5;
        }
        .post-wrapper:hover{
            box-shadow: 2px 2px 10px;
        }

    </style>
</head>

<section class="section-padding grid-news" style="margin-top: 50px;">
    <div class="container">

                <!-- Modal Structure -->
                <div id="modal1" class="modal" >
                    <div class="modal-content">
                        <div class="row">
                            <h4 class="center">Please Login</h4>
                            <div class="col m6">
                                <div>
                                    <img class="responsive-img" src="/static/images/uploadsfile/mirage.png">
                                </div>
                            </div>
                            <div class="col m6">
                                <div>
                                    <strong><div id="errorbox" class="center" style="color: red; font-size: 20px;"></div></strong>
                                    {% csrf_token %}
                                    <p>
                                        <strong><label style="font-size: 15px; color: #222; letter-spacing: 1;">Email:</label></strong>
                                        <input type="email" id="useremail" name="email" placeholder="Enter your E-mail" maxlength="254" required autocomplete="off">
                                    </p>
                                    <p>
                                        <strong><label style="font-size: 15px; color: #222; letter-spacing: 1;">Password:</label></strong>
                                        <input type="password" id="userpassword" placeholder="Enter your Password" name="password" required autocomplete="off">
                                    </p>                            
                                    <div class="center">
                                        <button id="loginbutton" class=" btn-large black" type="submit">Login</button>
                                    </div>    
                                    <p class="center"> 
                                        New User? <a href="/signup" style="color: #000;"> Sign Up Here </a> 
                                        <br>
                                        <a href="{% url 'password_reset' %}" style="font-size: 14px;">Forgot Password</a> 
                                    </p>                                                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal Structure -->
        
        {% if numbers %}
            <div class="row" style="font-family: raleway,sans-serif!important; font-size: 14px; line-height: 29px; font-weight: 500; color: #999;">
            {% for each in blogs %}
                <div class="col l4 m6 s12" style="margin-top: 10px;">
                    <article class="post-wrapper" style="border: 1px solid #eee;">
                        <div class="thumb-wrapper waves-effect waves-block waves-light" style="height: 240px; background-color: #eee; display: table-cell;">
                            <a href="/@{{ each.username|urlencode }}/{{ each.url|urlencode }}/"><img src="{{ each.img_src }}" class="img-responsive" style="max-height: 240px; vertical-align: middle; max-width: 100%;" alt=""></a>
                        </div>
                        <div class="blog-content" style ="padding:0px 25px; color: #555;">
                            <header class="entry-header-wrapper">
                                <div class="entry-header">
                                    <h2 class="entry-title" style="font-size: 18px;">
                                        <a href="/@{{ each.username|urlencode }}/{{ each.url|urlencode }}/">{{ each.heading|truncatechars:35 }}</a>
                                        <a class='dropdown-trigger' href='#' data-target='dropdown{{ each.blogid }}' style="float: right; outline: none;"> 
                                            <i class="fa fa-ellipsis-v" style="padding: 4px 10px;"></i> 
                                        </a>
                                        <ul id='dropdown{{ each.blogid }}' class='dropdown-content'>
                                            <li><a href="#" class="dropbutton black-text" id="readlater" for="{{ each.blogid }}">{{each.readlater}}</a></li>
                                            <li><a href="#" class="dropbutton black-text" id="reportblog" for="{{ each.blogid }}">{{each.report}}</a></li>
                                            <li><a href="#" class="dropbutton black-text" id="copylink" onclick="" for="{{ each.blogid }}">Copy Blog Link</a></li>
                                        </ul>
                                    </h2>
                                    <div class="entry-meta">
                                        <ul style="list-style: none; list-style-type: none;">
                                            <li class="list-icon">
                                                <i class="fa fa-user"></i> <a href="/@{{ each.username|urlencode }}" class="a-link">{{ each.fullname }}</a>
                                            </li>
                                            <li class="list-icon">
                                                <i class="fa fa-calendar-o"></i> {{ each.date_time }}
                                            </li>
                                            <li class="list-icon">
                                                <i class="fa fa-clock-o"></i> {{ each.readtime }} min read
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                            <div class="entry-content text-justify" style="height: 150px; max-height: 150px;">
                                <p style="margin: 0 0 30px; line-height: 30px; font-size: 0.8rem; overflow: hidden;">{{ each.data|truncatechars:200 }}</p>
                            </div>
                            <footer class="entry-footer" style="border-top: 1px solid #eee;">
                                <ul>
                                    <li class="list-icon"><i class="fa fa-eye"></i> {{ each.viewsnum }}</li>
                                    <li class="list-icon"><i class="fa fa-heart-o"></i> {{ each.likes_count }}</li>
                                    <li class="list-icon"><i class="fa fa-comments"></i> {{ each.comments_count }}</li>
                                    <li class="list-icon" style="float: right;">
                                        <a class="readmore pull-right a-link" id="link{{ each.blogid }}" href="/@{{ each.username|urlencode }}/{{ each.url|urlencode }}/">Read Full Post <i class="fa fa-long-arrow-right"></i></a>
                                    </li>
                                </ul>
                            </footer>
                        </div>
                    </article>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col m8 offset-m2 s12">
                    <img src="/static/images/uploads/SORRY.jpg" width="100%">
                </div>
            </div>
        {% endif %}
    </div>
</section>
<script>
    $(document).ready(function(){
        $('.dropdown-trigger').dropdown({coverTrigger:false, hover: true});

        $(".dropbutton").on('click', function(){
                    var id = $(this).attr('id');
                    var forid = $(this).attr('for');
                    if (id == "copylink"){
                        var link = $("#link"+forid).attr("href");
                        var urlText = window.location.origin + link;
                        console.log(urlText)
                        var $temp = $("<input>");
                        $("body").append($temp);
                        $temp.val(urlText).select();
                        document.execCommand("copy");
                        $temp.remove();
                        $(this).html('Copied');
                        $(this).css({"background-color":"#999"});
                        return 0
                    }
                    else if (id == "readlater" || id == "reportblog"){
                        var block = $(this);
                        var loginned = {{ loginned }};
                        if (loginned == 0){
                            $('#modal1').modal();
                            $('#modal1').modal('open');
                            return 0;
                        }
                        $.ajax({
                            type: 'POST',
                            url: '/readreport/',
                            data: {
                                work: id,
                                blogid: forid,
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            },
                            success: function(result){
                                if (result['status']==200){
                                    $(block).html(result['message']);
                                }
                            }
                        });
                    }
                });


    });
</script>