<html>
    <head>
        <title>Welcome Onboard</title>
        <script src="/static/js/jquery.min.js" ></script>
        <link href="/static/css/materialize.min.css" rel="stylesheet">
        <script src="/static/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    </head>
    <body>

        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title  text-center">Create Account</h4>
                
                {% block content %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            {% if field.help_text != "Optional." %}
                            <!-- <small style="color: grey">{{ field.help_text }}</small> -->
                            bla <a class="btn tooltipped" data-position="bottom" data-tooltip="{{ field.help_text }}">?</a>
                            {% endif %}
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <button type="submit">Sign up</button>
                </form>
                {% endblock %}
            </article>
        </div> <!-- card.// -->
    
    </body>
    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });
    </script>
</html>