<html>
    <head>
        <title>Welcome Onboard</title>
        <script src="/static/js/jquery.min.js" ></script>
        <link href="/static/css/materialize.min.css" rel="stylesheet">
        <script src="/static/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: #444;;">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="card" style="padding: 25px; background-color: #fff;">
                            <h4 class="card-title  text-center">Create Account</h4>
                            {% block content %}
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                <p>
                                    <span style="color: black;">{{ field.label_tag }}</span>

                                    {{ field }}
                                    {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </p>
                                {% endfor %}
                                <div class="center">
                                    <button class=" btn black" type="submit">Sign up</button>
                                </div>
                            </form>
                            {% endblock %}
                            <p class="text-center center"> 
                                Registered User? <a href="/login"> Log In </a> 
                            </p>  
                    </div> 
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });
    </script>
</html>