{% include "navbar.html" %}
{% load static from staticfiles %}
<link rel="stylesheet"
<div class="contiainer" style="letter-spacing: 0.8px;">
    <div class="row">
        <div class = "col l8 offset-l2 ">
            <h1 class="center">
                <span style="border-bottom: 5px solid black; padding: 15px;"> Writers </span>
            </h1>
            <br>
            <div class="row" >
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/riya.jpg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Arghadeepa</div>
                            <p>A fun loving girl who loves to play with words</p>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/baishakhi.jpeg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Baishakhi</div>
                            <p>An Unsocial Woman with Large Dream</p>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/sakshi.jpg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Sakshi Kumari</div>
                            <p>Creative soul with cheerful mind</p>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/saurav2.jpeg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Saurav Chakraborty</div>
                            <p>Bartender who make cocktails with stories</p>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/salony.jpeg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Salony Gupta</div>
                            <p>Chef of good stories</p>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/sumit.jpeg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Sumit Kumar</div>
                            <p>Chef of good stories</p>
                        </div>
                    </div>
                </div>
                <div class="col offset-m2 m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/zainab.jpeg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding: 0px 10px 10px 10px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Zainab Kalolwala</div>
                            <p style="font-size: 22px;">A passionate and unstoppable soul filled with endless dreams and goals.</p>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/rahul.jpeg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding: 0px 10px 10px 10px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Rahul Patel</div>
                            <p style="font-size: 22px;">Passionate content writer with true knowledge of Seo friendly contents.</p>
                        </div>
                    </div>
                </div>
            </div>

<!--
            <div class="row" >
                <div class="col offset-m1 m5 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/mayank.jpg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Mayank Gupta</div>
                            <p>Founder and CTO at <br> Writocraft</p>
                        </div>
                    </div>
                </div>
                <div class="col m5 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/abhishek.jpeg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Abhishek Paul</div>
                            <p> Co-Founder and CEO at <br> Writocraft </p>
                        </div>
                    </div>
                </div>
            </div>
-->

            <h1 class="center">
                <span style="border-bottom: 5px solid black; padding: 15px;"> Developers </span>
            </h1>
            <br>
            <div class="row" >
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/abhay.jpeg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Abhay Kumar</div>
                            <p> Software Engineer at Wipro </p>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/amod.jpeg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Amod Patwa</div>
                            <p>Software Engineer at Amdocs</p>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/mahesh.jpeg" alt="Avishek" crossOrigin="anonymous">
                        </div>
                        <div class="card-content center" style="padding-top: 0px; height: 150px;">
                            <div class=" card-title" style="font-weight: 400;">Mahesh Kumar</div>
                            <p>Software Engineer at Tata Consultancy Services</p>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="center">
                <span style="border-bottom: 5px solid black; padding: 15px;"> Founders </span>
            </h1>
            <br>
            <div class="row" >
                <div class="col m10 offset-m1 s12">
                    <div class="card">
                        <div class="row">
                            <div class="col m6 s12">
                                <div class="card-content">
                                    <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/ppic.jpeg" alt="Avishek" crossOrigin="anonymous">
                                </div>
                                <div class="card-content center" style="padding-top: 0px; height: 150px;">
                                    <div class=" card-title" style="font-weight: 400;">A</div>
                                    <p> The person who clicks the picture is not in the picture itself. </p>
                                </div>
                            </div>
                            <div class="col m6 s12">
                                <div class="card-content">
                                    <img class="responsive-img circle" style="width: 100%;" src="/static/images/team/ppic.jpeg" alt="Avishek" crossOrigin="anonymous">
                                </div>
                                <div class="card-content center" style="padding-top: 0px; height: 150px;">
                                    <div class=" card-title" style="font-weight: 400;">M</div>
                                    <p> And we don't like selfies. &#128521; </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>