{% include "navbar.html" %}
{% load static from staticfiles %}
<script>
    $(document).ready(function(){
        var value = $('#followbutton').val();
        if (value == 0){
            $("#followed").hide();
            $("#follow").show();
        }
        else{
            $("#followed").show();
            $("#follow").hide();
        }
    });
</script>
<style>
a {
    text-decoration: none;
}

.dropbutton{
    font-size: 16px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}



.dropdowndiv {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content1 a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.dropdown-content1 a:hover {background-color: #ddd;}

/* .dropdowndiv:hover .dropdown-content1 {display: block;} */


</style>
        <br>
        <div  class="flow-text">
            <div class="row">
                <div class="col m2 s8 offset-m3 offset-s2">
                    <img style="width: 100%;" class="circle responsive-img" src="/static/images/thumbnail/{{ username }}.jpg">
                </div>
                <div class="col m6 s12">
                        
                        <div style="font-size: 30px; color: black;"> <b>{{ fullname }}</b> </div>
                        <div style="margin-top: 5px; font-size: 20px; color: #666; font-weight: 400;"> @{{ username }} </div>
                        <div style="font-size: 20px; color: #666; font-weight: 400;"> User since {{ datejoined }} </div>
                        <div style="font-size: 20px; color: #666; font-weight: 400;"> Total Blog Published: {{ blog_num }} </div>
                        <div style="font-size: 20px; color: #666; font-weight: 400;"> Total Views: {{ total_views }} </div>
                        <br>
                        <button class="btn waves-effect waves-light black" type="submit" name="action" value='{{ followcheck }}' style="text-transform: none;" id="followbutton">

                            <span id="follow" >
                                <i class="fa fa-user-plus" style="font-size: 1.1rem;"></i>ollow | <span class="follownum">{{followers}}</span>
                            </span>
                            <span id="followed" style="display: none;"> 
                                <i class="fa fa-user-plus" style="font-size: 1.1rem;"></i>ollowed <i class="fa fa-check" style="font-size: 1.1rem;"></i> | <span class="follownum">{{followers}}</span>
                            </span>
                        </button>
                        <br>
                </div>

            </div>
        </div>
        <br>
 
        <nav>
            <div class="nav-wrapper black flow-text">
                <div class="col s12">
                    <a href="/" class="breadcrumb"  style="padding-left: 1%;"><b>Home</b></a>
                    <a href="/@{{ username|urlencode }}/" class="breadcrumb"><b>{{ fullname }}</b></a>
                </div>
            </div>
        </nav>
        <div class="row">
        
        {% csrf_token %}
        {% if blog_num > 0 %}
            {% for each in blogs %}
                
                <div class="col l4 m6 s12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light" >
                            <a href="/@{{ username|urlencode }}/{{ each.url|urlencode }}/">
                                <img class="activator" style="object-fit: cover; object-position: center; height: 300px; width: 100%;" src="/static/images/parallax1.jpg">
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                <a href="/@{{ username|urlencode }}/{{ each.url|urlencode }}/" id="link{{ each.blogid }}" class="activator grey-text text-darken-4">
                                    <b>{{ each.heading|truncatechars:30 }}</b>
                                </a>
                                <div class="dropdowndiv right">
                                    <i class="fa fa-chevron-down dropbton" style="font-size: 1.2rem;"></i>
                                    <div class="dropdown-content1" style="box-shadow: 5px 5px 10px #222; right:0px;">
                                        <a class="dropbutton black-text" id="readlater" for="{{ each.blogid }}"><b>Add to Read Later</b></a>
                                        <a class="dropbutton black-text" id="reportblog" for="{{ each.blogid }}"><b>Report Content</b></a>
                                        <a class="dropbutton black-text" id="copylink" for="{{ each.blogid }}"><b>Copy Blog Link</b></a>
                                    </div>
                                </div>
                                
                            </span>
                            <p style="font-size: 19px;">
                                <span>{{ each.date }}</span>
                                <span class="right">Views: <b>{{ each.views_num }}</b></span>
                            </p>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
        {% endif %}
        </div>
        <span id="spanforcopy" style="display: none;">
            <input type="text" id="forcopy" >
        </span>
<script>
    $(document).ready(function(){
        $(".dropdowndiv").click(function(){
            alert("Clicked");
            $(".dropdown-content1").show();
        });

        $("#followbutton").click(function(){
            $.ajax({
                type: 'POST',
                url: '/followplus/',
                async: false,
                data: {
                    profile: '{{username}}',
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(result){
                    if (result['status']==200){
                        if (result['stats'] == 1){
                            $("#followed").show();
                            $("#follow").hide();
                            $(".follownum").text(result['follownum']);
                        }
                        else{
                            $("#follow").show();
                            $("#followed").hide();
                            $(".follownum").text(result['follownum']);
                        }
                    }
                }
            });
        });

        $(".dropbutton").on('click', function(){
            
            var id = $(this).attr('id');
            var forid = $(this).attr('for');
            if (id == "copylink"){
                var link = $("#link"+forid).attr("href");
                var urlText = window.location.origin + link;
                $("#spanforcopy").show();
                $("#forcopy").val(urlText);
                var copyText = document.getElementById("forcopy");
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand("copy");
                $("#spanforcopy").hide();
                $(this).html('<b>Copied</b>');
                $(this).css({"background-color":"#999"});
            }
            if (id == "readlater"){

            }
        });
    });

</script>
    </body>
</html>