{% include "navbar.html" %}
{% load static from staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Include Quill stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/quill.snow.css" rel="stylesheet">
        <script src="/static/js/jquery.min.js"></script>
        <link href="/static/css/materialize.min.css" rel="stylesheet">
        <script src="/static/js/materialize.min.js"></script>
        <script src="/static/js/quill.js"  type="text/javascript" charset="UTF-8"></script>
        <style>
            
            .ql-editor{
                margin-top: 5px;
            }
            .dropdown-content li>span {
                color: black;
            }
        </style>
    </head>
    <body>
            {% if val == '1' %}
                <!-- Modal Structure -->
                <div id="modal1" class="modal">

                    <div style="border-bottom: 1px solid rgba(0,0,0,0.1); position: absolute; top: 0;" class="modal-footer">
                        <h2 class="center" style="font-size: 30px;">Blog Saved</h2>
                    </div>
                    <div class="modal-content" style="overflow:scroll; background-color: #fff;">
                        <br><br>
                        <div class="row">
                            <div class="col l9 s12">
                                Congrats, your blog is published.<br>
                                To view the blog you can click here: 
                                <a target="_blank" href="/@{{username}}/{{url}}/">
                                    <button class="btn">Go to Blog</button>
                                </a>
                            </div>
                            <div class="col l3 s10 offset-s1">
                                <img src="/static/images/uploadsfile/submitted-small.jpg" style="width: 100%; margin: 20px 0px;">
                            </div>
                        </div>
                    </div>
                    <div style="border-top: 1px solid rgba(0,0,0,0.1); position: absolute; bottom: 0;" class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
                <!-- /Modal Structure -->
                <script>
                    $(document).ready(function(){
                        $('#modal1').modal();
                        $('#modal1').modal('open');
                    });
                </script>
            {% endif %}


        <!-- Modal Structure -->
        <div id="modal2" class="modal">

            <div style="border-bottom: 1px solid rgba(0,0,0,0.1); position: absolute; top: 0;" class="modal-footer">
                <h2 class="center" style="font-size: 30px; color: #f00;">Error</h2>
            </div>
            <div class="modal-content" style="height: 50vh; background-color: #fff;">
                <br><br>
                Your changes is not saved.
                <div id="errmessage" style="color: #f00;"> </div>
            </div>
            <div style="border-top: 1px solid rgba(0,0,0,0.1); position: absolute; bottom: 0;" class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <!-- /Modal Structure -->


        <div class="row">
            <div class="">
                <div class="col m8 offset-m2 s12" >
                    <span id="error" class="alert alert-danger" style="display: none;"></span>
                    <span id="success" class="alert alert-success" style="display: none;"></span>
                    <br>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="heading" id="heading" value="{{ heading }}" placeholder="Enter the topic of your blog (more than 10 Characters)">
                        </div>
                    </div>
                    {% csrf_token %}
                    <label>Enter the context</label>
                    <div style="height: 50%; overflow: scroll; border: 1px solid black; border-radius: 4px;">
                        <div id="editor" name="data" style="cursor:pointer; font-size: 22px;">{{ data|safe }}</div>
                    </div>
                    <br>
                    <!-- Customizable input  -->
                    <span style="font-size: 18px;">Enter the Tags - <span class="red-text">Don't use # in tags</span> - And press enter to separate. </span>
                    <div class="chips">
                        <input class="custom-class" name="tags" id="tag"></input>
                    </div>
                    <div class="input-field" style="margin-top: 30px;">
                        <select id="post_in">
                          <option value="public" {{is_visible}}>Public</option>
                          <option value="unlisted" {{is_private}}>Unlisted</option>
                        </select>
                        <label>Choose Publish Type</label>
                    </div>
                    <br>

                    <div class="progress">
                        <div class="determinate" id="progressbar" style="width: 0%"></div>
                    </div>
                    <!--
                    <label>
                        <input type="checkbox"  id="post_type" {{anoaccept}} />
                        <span>Post Anonymously</span>
                    </label>
                    -->
                    <button class="waves-effect waves-light btn " name="datacatch" value="save">Submit For Review</button> &nbsp;
                    <!-- <button name="datacatch" value="submit">Submit for Review</button> -->
                </div>
            </div>
        </div>
    </body>


<script>

 $(document).ready(function(){
    $('select#post_in').formSelect();
  });
document.addEventListener('DOMContentLoaded', function() {
    var tag_list = {{ tag_list|safe }};
    tags = [];
    for (i = 0; i < tag_list.length; i++) {
        tags.push({tag: tag_list[i]});
    }
    options = {
    placeholder: 'Enter some tags',
    secondaryPlaceholder: '+Tag',
    limit: 20,
    data: tags,
  }
    var elems = document.querySelectorAll('.chips');
    var instances = M.Chips.init(elems, options);
});


const imageHandler = () => {
  const input = document.createElement('input');

  input.setAttribute('type', 'file');
  input.setAttribute('accept', 'image/*');
  input.click();

  input.onchange = async () => {
    const file = input.files[0];
    const formData = new FormData();

    formData.append('image', file);

    // Save current cursor state
    const range = this.quill.getSelection(true);

    // Insert temporary loading placeholder image
    this.quill.insertEmbed(range.index, 'image', `${ window.location.origin }/images/loaders/placeholder.gif`); 

    // Move cursor to right side of image (easier to continue typing)
    this.quill.setSelection(range.index + 1);

    const res = await apiPostNewsImage(formData); // API post, returns image location as string e.g. 'http://www.example.com/images/foo.png'
    
    // Remove placeholder image
    this.quill.deleteText(range.index, 1);

    // Insert uploaded image
    this.quill.insertEmbed(range.index, 'image', res.body.image); 
  }
}


    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block','link'],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],        // remove formatting button
        ['image'],
    ]

    var editor = new Quill('#editor', {
        modules: { 
            toolbar: toolbarOptions,
        },
        theme: 'snow',
        placeholder: 'Write Content Here...',
    });
    
$(document).ready(function(){
    $("button[name ='datacatch']").click(function(){
        var tags = JSON.stringify(M.Chips.getInstance($('.chips')).chipsData);
        var token = $(this).val(); 
        var delta = editor.getContents();
        var quillHtml = editor.root.innerHTML.trim();
        var id = "{{id}}";
        var anoaccept = "False";
        var post_in = $("#post_in").val();
        $('#progressbar').css("width","0%");
		if ($('#post_type').is(":checked"))
		{
			anoaccept = "True";
		}
        heading = $("#heading").val();
        $.ajax({
            xhr : function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener('progress', function(e) {
                    if (e.lengthComputable) {
                        var percent = Math.round((e.loaded / e.total) * 100);
                        $('#progressbar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');
                    }
                });
                return xhr;
            },
            type: 'POST',
            url: '/writeblog/',
            data: {
                heading: heading,
                id: "{{id}}",
                data: quillHtml,
                token: token,
                tags: tags,
                anoaccept: anoaccept,
                post_in: post_in,
                val: 1,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(result){
                var output = result['status'];
                console.log(output)
                if (output == 200){
                    $("#success").text(result['success']);
                    $("#success").show().delay(5000).fadeOut(3000);
                    heading_ = replaceAll(heading," ", "-");
                    heading_url = encodeURI(heading_);
                    window.location.href = '/edit/'+heading_url+"/1";
                }
                else{
                    $("#error").text("Error "+result['error']);
                    $('#modal2').modal();
                    $('#modal2').modal('open');
                    $("#errmessage").text("Error: "+result['error']);
                }
            }
        })
    });
});


function escapeRegExp(string){
    return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
}
 
/* Define functin to find and replace specified term with replacement string */
function replaceAll(str, term, replacement) {
  return str.replace(new RegExp(escapeRegExp(term), 'g'), replacement);
}
    
</script>
</html>