{% load static from staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Include Quill stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/quill.snow.css" rel="stylesheet">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/quill.js"  type="text/javascript" charset="UTF-8"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div style="width: 100%;">
            <div style="margin-left:15%;margin-top: 2%; width: 70%;" >
                <span id="error" class="alert alert-danger" style="display: none;"></span>
                <span id="success" class="alert alert-success" style="display: none;"></span>
                <br><br>
                {% csrf_token %}
                <label>Enter the topic of your blog (more than 10 Characters)</label>
                <input type="text" name="heading" id="heading" value="{{ heading }}" placeholder="Enter a heading" class="form-control" /> <br>
                <br>
                <label>Enter the context</label>
                <div style="height: 50%; overflow: scroll; border: 1px solid black; border-radius: 4px;">
                    <div id="editor" name="data" style="cursor:pointer">{{ data|safe }}</div>
                </div>
                <br>
                <input type="checkbox" id="post_type" {{anoaccept}}><label>Post Anonymously</label>
                <button name="datacatch" value="save">Save</button> &nbsp;
                <button name="datacatch" value="submit">Submit for Review</button>
            </div>
        </div>
    </body>


<script>

const imageHandler = () => {
  const input = document.createElement('input');

  input.setAttribute('type', 'file');
  input.setAttribute('accept', 'image/*');
  input.click();

  input.onchange = async () => {
    const file = input.files[0];
    const formData = new FormData();

    formData.append('image', file);

    // Save current cursor state
    const range = this.quill.getSelection(true);

    // Insert temporary loading placeholder image
    this.quill.insertEmbed(range.index, 'image', `${ window.location.origin }/images/loaders/placeholder.gif`); 

    // Move cursor to right side of image (easier to continue typing)
    this.quill.setSelection(range.index + 1);

    const res = await apiPostNewsImage(formData); // API post, returns image location as string e.g. 'http://www.example.com/images/foo.png'
    
    // Remove placeholder image
    this.quill.deleteText(range.index, 1);

    // Insert uploaded image
    this.quill.insertEmbed(range.index, 'image', res.body.image); 
  }
}


    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],        // remove formatting button
        ['image'],
    ]

    var editor = new Quill('#editor', {
        modules: { 
            toolbar: toolbarOptions,
        },
        theme: 'snow',
        placeholder: 'Compose an epic...',
    });
    
$(document).ready(function(){
    $("button[name ='datacatch']").click(function(){
        var token = $(this).val(); 
        var delta = editor.getContents();
        var quillHtml = editor.root.innerHTML.trim();
        var id = "{{id}}";
        var anoaccept = "False";
		if ($('#post_type').is(":checked"))
		{
			anoaccept = "True";
		}
        $.ajax({
            type: 'POST',
            url: '/writeblog/',
            data: {
                heading: $("#heading").val(),
                id: "{{id}}",
                data: quillHtml,
                token: token,
                anoaccept: anoaccept,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(result){
                var output = result['status'];
                if (output == 200){
                    $("#success").text(result['success']);
                    $("#success").show().delay(5000).fadeOut(3000);;
                }
                else{
                    console.log(result['error']);
                    $("#error").text(result['error']);
                    $("#error").show().delay(5000).fadeOut(3000);;
                }
            }
        })
    });
});
    
</script>


<!--
var IMGUR_CLIENT_ID = '866888551c6b398';
var IMGUR_API_URL = 'https://api.imgur.com/3/image';

function imageHandler(image, callback) {
  var data = new FormData();
  data.append('image', image);

  var xhr = new XMLHttpRequest();
  xhr.open('POST', IMGUR_API_URL, true);
  xhr.setRequestHeader('Authorization', 'Client-ID ' + IMGUR_CLIENT_ID);
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4) {
      var response = JSON.parse(xhr.responseText);
      if (response.status === 200 && response.success) {
        callback(response.data.link);
      } else {
        var reader = new FileReader();
        reader.onload = function(e) {
          callback(e.target.result);
        };
        reader.readAsDataURL(image);
      }
    }
  }
  xhr.send(data);
}



-->
</html>